Repository dvsa/des-mobile-app, pull requests merged in 2023-05, with the labels that each got.

#1134 MES-8640 | Incomplete tests banner bug fix
  src/components/common/incomplete-tests-banner/__tests__/incomplete-tests-banner.spec.ts
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.html
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.ts
Labels: tests, typescript

#1136 Bump @angular packages based on Snyk suggestions
  package-lock.json
  package.json
Labels: dependencies

#1138 MES-8640 | Error message fix
  src/store/tests/tests.effects.ts
Labels: typescript

#1137 MES-8812 / Throw error for used pass certs
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/__tests__/pass-certificate-number.cat-a-mod1.spec.ts
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.html
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.ts
  src/app/pages/pass-finalisation/cat-a-mod1/pass-finalisation.cat-a-mod1.page.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.html
  src/app/pages/pass-finalisation/cat-b/pass-finalisation.cat-b.page.html
  src/app/pages/pass-finalisation/cat-c/pass-finalisation.cat-c.page.html
  src/app/pages/pass-finalisation/cat-cpc/pass-finalisation.cat-cpc.page.html
  src/app/pages/pass-finalisation/cat-d/pass-finalisation.cat-d.page.html
  src/app/pages/pass-finalisation/cat-home-test/pass-finalisation.cat-home-test.page.html
  src/app/pages/pass-finalisation/cat-manoeuvre/pass-finalisation.cat-manoeuvre.page.html
  src/app/pages/pass-finalisation/components/pass-certificate-number/__tests__/pass-certificate-number.spec.ts
  src/app/pages/pass-finalisation/components/pass-certificate-number/pass-certificate-number.html
  src/app/pages/pass-finalisation/components/pass-certificate-number/pass-certificate-number.ts
  src/app/providers/pass-certificate-validation/pass-certificate-validation.ts
  src/app/shared/classes/test-flow-base-pages/pass-finalisation/pass-finalisation-base-page.ts
  src/store/journal/journal.selector.ts
  src/store/tests/tests.selector.ts
Labels: tests, typescript

#1144 Add enablePracticeModeAnalytics flag
  src/app/providers/app-config/app-config.ts
Labels: typescript

#1145 Mes 8640 incomplete banner small fix
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.ts
  src/app/pages/pass-finalisation/components/pass-certificate-number/pass-certificate-number.ts
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.ts
Labels: typescript

#1147 Capacitor 5
  ios/.gitignore
  ios/App/Podfile.lock
  package-lock.json
  package.json
Labels: dependencies, capacitor

#1146 Mes 7670 test report ga
  src/app/pages/test-report/__tests__/test-report.analytics.effects.spec.ts
  src/app/pages/test-report/cat-adi-part2/components/manoeuvre-competency/__tests__/manoeuvre-competency.spec.ts
  src/app/pages/test-report/cat-adi-part2/components/manoeuvre-competency/manoeuvre-competency.ts
  src/app/pages/test-report/cat-adi-part2/components/vehicle-check/vehicle-check.ts
  src/app/pages/test-report/cat-b/components/vehicle-check/__tests__/vehicle-check.spec.ts
  src/app/pages/test-report/cat-b/components/vehicle-check/vehicle-check.ts
  src/app/pages/test-report/cat-manoeuvre/components/reverse-manoeuvre/__tests__/reverse-manoeuvre.spec.ts
  src/app/pages/test-report/cat-manoeuvre/components/reverse-manoeuvre/reverse-manoeuvre.ts
  src/app/pages/test-report/components/controlled-stop/__tests__/controlled-stop.spec.ts
  src/app/pages/test-report/components/controlled-stop/controlled-stop.ts
  src/app/pages/test-report/components/manoeuvre-competency/__tests__/manoeuvre-competency.spec.ts
  src/app/pages/test-report/components/manoeuvre-competency/manoeuvre-competency.ts
  src/app/pages/test-report/test-report.analytics.effects.ts
  src/app/shared/helpers/competency-outcome-analytic-event.ts
  src/store/tests/test-data/cat-adi-part2/manoeuvres/__tests__/manoeuvre.reducer.spec.ts
  src/store/tests/test-data/cat-adi-part2/manoeuvres/manoeuvres.actions.ts
  src/store/tests/test-data/cat-b/manoeuvres/__tests__/manoeuvres.reducer.spec.ts
  src/store/tests/test-data/cat-b/vehicle-checks/__tests__/vehicle-checks.reducer.spec.ts
  src/store/tests/test-data/cat-b/vehicle-checks/vehicle-checks.actions.ts
  src/store/tests/test-data/cat-manoeuvres/manoeuvres/__tests__/manoeuvres.cat-cm.reducer.spec.ts
  src/store/tests/test-data/common/controlled-stop/__tests__/controlled-stop.reducer.spec.ts
  src/store/tests/test-data/common/controlled-stop/controlled-stop.actions.ts
  src/store/tests/test-data/common/manoeuvres/manoeuvres.actions.ts
Labels: tests, typescript, analytics

#1148 MES-8812 / Remove duplicate past cert check
  src/app/pages/confirm-test-details/__tests__/confirm-test-details.page.spec.ts
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/debrief/debrief.page.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/pass-finalisation/cat-a-mod1/pass-finalisation.cat-a-mod1.page.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/pass-finalisation/cat-adi-part2/pass-finalisation.cat-adi-part2.page.html
  src/app/pages/pass-finalisation/cat-b/pass-finalisation.cat-b.page.html
  src/app/pages/pass-finalisation/cat-c/pass-finalisation.cat-c.page.html
  src/app/pages/pass-finalisation/cat-cpc/pass-finalisation.cat-cpc.page.html
  src/app/pages/pass-finalisation/cat-d/pass-finalisation.cat-d.page.html
  src/app/pages/pass-finalisation/cat-home-test/pass-finalisation.cat-home-test.page.html
  src/app/pages/pass-finalisation/cat-manoeuvre/pass-finalisation.cat-manoeuvre.page.html
  src/app/providers/vehicle-details-by-category/vehicle-details-by-category.ts
  src/app/shared/classes/practiceable-base-page.ts
  src/environments/environment.dev.ts
Labels: tests, typescript

#1150 MES-8718 | Analytics for comms selection
  src/app/pages/communication/__tests__/communication.analytics.effects.spec.ts
  src/app/pages/communication/communication.actions.ts
  src/app/pages/communication/communication.analytics.effects.ts
  src/app/pages/communication/communication.page.ts
  src/app/pages/communication/components/new-email/__tests__/new-email.spec.ts
  src/app/pages/communication/components/new-email/new-email.ts
  src/app/pages/communication/components/provided-email/provided-email.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.page.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1151 Vulnerability fix 16/05/23
  capacitor.config.ts
  ios/App/App/capacitor.config.json
  package-lock.json
Labels: dependencies, capacitor

#1155 MES-8785 | Advanced Search Rekey filter
  src/app/pages/test-results-search/components/advanced-search/__tests__/advanced-search.spec.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/test-results-search.ts
  src/app/providers/search/__tests__/search.spec.ts
  src/app/providers/search/search.models.ts
  src/app/providers/search/search.ts
Labels: tests, typescript

#1158 MES-6885 / PRN & Attempt number for SC
  src/components/test-slot/test-slot/test-slot.html
  src/components/test-slot/test-slot/test-slot.ts
Labels: typescript

#1163 MES-8832 / Reason given validation
  package-lock.json
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.html
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.ts
  src/store/tests/tests.selector.ts
Labels: dependencies, typescript
