Repository dvsa/des-mobile-app, pull requests merged in 2023-06, with the labels that each got.

#1175 CP / Add device auth failure log
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/providers/device-authentication/device-authentication.ts
Labels: tests, typescript

#1186 MES-8847 / Search completed for Standards checks
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/test-start-end-times/test-start-end-times.html
  src/app/pages/pass-finalisation/cat-adi-part3/components/test-start-end-times/test-start-end-times.ts
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.ts
  src/app/pages/view-test-result/view-test-result.page.html
  src/app/pages/view-test-result/view-test-result.page.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.html
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
  src/components/common/datetime-input/date-time-input.component.html
  src/store/tests/test-data/cat-adi-part3/end-time/end-time.reducer.ts
  src/store/tests/test-data/cat-adi-part3/start-time/start-time.reducer.ts
Labels: typescript

#1174 Add device auth failure log
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/providers/device-authentication/device-authentication.ts
Labels: tests, typescript

#1188 CP / MES-8847
  config.xml
  ios/App/App/Info.plist
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/test-start-end-times/test-start-end-times.html
  src/app/pages/pass-finalisation/cat-adi-part3/components/test-start-end-times/test-start-end-times.ts
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.ts
  src/app/pages/view-test-result/view-test-result.page.html
  src/app/pages/view-test-result/view-test-result.page.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.html
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
  src/components/common/datetime-input/date-time-input.component.html
  src/store/tests/test-data/cat-adi-part3/end-time/end-time.reducer.ts
  src/store/tests/test-data/cat-adi-part3/start-time/start-time.reducer.ts
Labels: typescript, version

#1190 CP / MES-8824
  src/app/pages/delegated-rekey-search/delegated-rekey-search.html
  src/app/pages/delegated-rekey-search/delegated-rekey-search.module.ts
  src/app/pages/delegated-rekey-search/delegated-rekey-search.ts
  src/app/pages/fake-journal/__tests__/fake-journal.page.spec.ts
  src/app/pages/fake-journal/fake-journal.module.ts
  src/app/pages/fake-journal/fake-journal.page.html
  src/app/pages/fake-journal/fake-journal.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.module.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/journal/journal.page.ts
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/rekey-search/rekey-search.module.ts
  src/app/pages/rekey-search/rekey-search.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-centre-journal/components/candidate-search-card/candidate-search-card.html
  src/app/pages/test-centre-journal/components/candidate-search-card/candidate-search-card.ts
  src/app/pages/test-centre-journal/components/test-centre-journal-components.module.ts
  src/app/pages/test-centre-journal/components/view-journals-card/view-journals-card.html
  src/app/pages/test-centre-journal/components/view-journals-card/view-journals-card.ts
  src/app/pages/test-centre-journal/test-centre-journal.module.ts
  src/app/pages/test-centre-journal/test-centre-journal.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.module.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.page.html
  src/app/pages/unuploaded-tests/unuploaded-tests.page.ts
  src/app/providers/orientation-monitor/__tests__/orientation-monitor.provider.spec.ts
  src/app/providers/orientation-monitor/orientation-monitor.provider.ts
  src/components/test-slot/candidate-link/candidate-link.scss
Labels: tests, typescript

#1192 Add SC to dropdown list
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/view-test-result/components/test-summary-card/test-summary-card.html
  src/app/pages/view-test-result/components/test-summary-card/test-summary-card.ts
  src/app/pages/view-test-result/view-test-result.page.html
  src/app/pages/view-test-result/view-test-result.page.ts
Labels: typescript

#1199 CP / MES-8447
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.html
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.ts
  src/app/pages/view-test-result/components/view-test-result.components.module.ts
  src/app/pages/view-test-result/view-test-result.page.html
  src/components/common/adi3-debrief-card/adi3-debrief-card.html
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
Labels: typescript

#1200 Bump Sentry to work with Cap
  package-lock.json
  package.json
Labels: dependencies

#1203 mes-7678-AnalyticlabelFail
  src/app/pages/office/__tests__/office.analytics.effects.spec.ts
  src/app/pages/office/office.analytics.effects.ts
  src/app/pages/rekey-reason/rekey-reason.analytics.effects.ts
  src/store/tests/__tests__/tests.analytics.effects.spec.ts
  src/store/tests/tests.analytics.effects.ts
Labels: tests, typescript, analytics

#1204 Point CI flow to mito-2
  .github/workflows/cache-cleanup.yaml
  .github/workflows/ci.yaml
  .snyk
  README.md
  package.json
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/office/components/fault-comment-card/fault-comment-card.ts
  src/app/pages/test-report/cat-c/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-home-test/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/shared/helpers/get-slot-type.ts
  src/app/shared/models/slot-types.ts
  src/components/common/inappropriate-use-banner/inappropriate-use-banner.html
Labels: documentation, dependencies, typescript

#1210 Snyk review - 26/06/23
  .github/workflows/ci.yaml
  package-lock.json
  package.json
  src/app/pages/candidate-licence/__tests__/candidate-licence.page.spec.ts
  src/app/pages/test-report/cat-a-mod2/test-report.cat-a-mod2.page.html
  src/app/pages/test-report/cat-adi-part2/test-report.cat-adi-part2.page.html
  src/app/pages/test-report/cat-b/test-report.cat-b.page.html
  src/app/pages/test-report/cat-c/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-cpc/test-report.cat-cpc.page.html
  src/app/pages/test-report/cat-d/test-report.cat-d.page.html
  src/app/pages/test-report/cat-home-test/__tests__/test-report.cat-home-test.page.spec.ts
  src/app/pages/test-report/cat-home-test/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/pages/test-report/components/controlled-stop/controlled-stop.ts
  src/app/pages/test-report/components/highway-code-safety/highway-code-safety.ts
  src/app/pages/test-report/components/reverse-left-popover/reverse-left-popover.ts
  src/app/pages/test-report/components/reverse-left/reverse-left.ts
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/vehicle-checks-modal.cat-c.page.html
  src/app/providers/activity-code-finalisation/__tests__/activity-code-finalisation.spec.ts
  src/app/providers/fault-count/fault-count.ts
  src/components/common/adi3-debrief-card/__tests__/adi3-debrief-card.spec.ts
  src/components/common/datetime-input/__tests__/date-time-input.component.spec.ts
  src/components/common/datetime-input/date-time-input.component.ts
Labels: dependencies, tests, typescript

#1211 Move unstarted journal slots into Un-submitted tests
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/login/login.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.actions.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.effects.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/journal/journal.ts
  src/app/providers/test-persistence/test-persistence.ts
  src/app/sentry-error-handler.ts
  src/app/shared/helpers/date-time.ts
  src/store/tests/__tests__/tests.effects.spec.ts
  src/store/tests/tests.effects.ts
  src/store/tests/tests.reducer.ts
Labels: tests, typescript

#1219 Cp unuploaded fix
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/login/login.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.actions.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.effects.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/journal/journal.ts
  src/app/providers/test-persistence/test-persistence.ts
  src/app/sentry-error-handler.ts
  src/app/shared/helpers/date-time.ts
  src/store/tests/__tests__/tests.effects.spec.ts
  src/store/tests/tests.effects.ts
  src/store/tests/tests.reducer.ts
Labels: tests, typescript

#1217 mes-advancedSearchRuntimeFix
  src/app/pages/test-results-search/components/advanced-search/__tests__/advanced-search.spec.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/test-results-search/test-results-search.ts
  src/components/common/searchable-picklist-wrapper/searchable-picklist-wrapper.ts
Labels: tests, typescript

#1220 Mes 8847 sc times styling
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.scss
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.ts
Labels: typescript

#1221 Cp sc times styling
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.scss
  src/app/pages/view-test-result/components/sc-debrief-card/sc-debrief-card.ts
Labels: typescript
