Repository dvsa/des-mobile-app, pull requests merged in 2023-12, with the labels that each got.

#1455 Cp auth datastore logging
  .snyk
  src/app/__tests__/app.component.spec.ts
  src/app/app.component.ts
  src/app/pages/login/__tests__/login.page.spec.ts
  src/app/pages/login/login.page.ts
  src/app/providers/authentication/authentication.ts
  src/app/providers/data-store/__mocks__/data-store.mock.ts
  src/app/providers/data-store/__tests__/data-store.spec.ts
  src/app/providers/data-store/data-store.ts
Labels: tests, typescript

#1454 Auth & Data store logging
  .snyk
  config.xml
  ios/App/App/Info.plist
  src/app/__tests__/app.component.spec.ts
  src/app/app.component.ts
  src/app/pages/login/__tests__/login.page.spec.ts
  src/app/pages/login/login.page.ts
  src/app/providers/authentication/authentication.ts
  src/app/providers/data-store/__mocks__/data-store.mock.ts
  src/app/providers/data-store/__tests__/data-store.spec.ts
  src/app/providers/data-store/data-store.ts
Labels: tests, typescript, version

#1456 Replace core secure storage logic with ionic storage
  config.xml
  ios/App/App/Info.plist
  mock/ionic-mocks/storage.mock.ts
  package-lock.json
  package.json
  src/app/__tests__/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/completed-test-persistence/completed-test-persistence.ts
  src/app/providers/data-store/__mocks__/data-store.mock.ts
  src/app/providers/data-store/__tests__/data-store.spec.ts
  src/app/providers/data-store/data-store.ts
  src/app/providers/journal/__tests__/journal.spec.ts
  src/app/providers/journal/journal.ts
  src/app/providers/test-persistence/test-persistence.ts
  src/store/logs/logs.effects.ts
Labels: dependencies, tests, typescript, version

#1457 Auth context hydration
  config.xml
  ios/App/App/Info.plist
  src/app/app.component.ts
  src/app/pages/back-to-office/__tests__/back-to-office.page.spec.ts
  src/app/pages/back-to-office/back-to-office.page.ts
  src/app/pages/waiting-room/__tests__/waiting-room.page.spec.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/authentication/authentication.ts
  src/store/journal/journal.effects.ts
  src/store/logs/logs.actions.ts
  src/store/logs/logs.effects.ts
  src/store/tests/tests.actions.ts
  src/store/tests/tests.effects.ts
Labels: tests, typescript, version

#1459 Disable sam before orientation
  config.xml
  ios/App/App/Info.plist
  ios/App/Podfile.lock
  src/app/pages/back-to-office/__tests__/back-to-office.page.spec.ts
  src/app/pages/back-to-office/back-to-office.page.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.page.ts
  src/app/pages/waiting-room/waiting-room.page.ts
Labels: tests, typescript, version, capacitor

#1461 Streamline 'View Test Results' Helper
  src/app/pages/view-test-result/view-test-result-helpers.ts
Labels: typescript

#1462 Improve typing throughout codebase
  src/app/app.module.ts
  src/app/pages/candidate-details/candidate-details.page.ts
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/rekey-reason/__tests__/rekey-reason.reducer.spec.ts
  src/app/pages/test-report/cat-adi-part2/components/manoeuvre-competency/manoeuvre-competency.ts
  src/app/pages/test-report/cat-manoeuvre/components/reverse-manoeuvre/reverse-manoeuvre.ts
  src/app/pages/test-report/components/competency-button/competency-button.ts
  src/app/pages/test-report/components/examiner-takes-action/eta.ts
  src/app/pages/test-report/components/manoeuvre-competency/manoeuvre-competency.ts
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.ts
  src/app/pages/test-report/components/timer/timer.ts
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-c.analytics.effects.spec.ts
  src/app/providers/test-persistence/test-persistence.ts
  src/app/providers/vehicle-details-by-category/vehicle-details-by-category.ts
  src/store/app-info/app-info.model.ts
  src/store/journal/__tests__/journal.reducer.spec.ts
  src/store/logs/__tests__/logs.reducer.spec.ts
Labels: tests, typescript, analytics

#1460 Lock / Unlock device in BasePage
  mock/angular-mocks/activated-route.mock.ts
  mock/angular-mocks/router-mock.ts
  mock/index.mock.ts
  src/app/__tests__/app.component.spec.ts
  src/app/__tests__/sentry-error-handler.spec.ts
  src/app/app.component.ts
  src/app/pages/back-to-office/__tests__/back-to-office.page.spec.ts
  src/app/pages/back-to-office/back-to-office.page.ts
  src/app/pages/candidate-licence/__tests__/candidate-licence.page.spec.ts
  src/app/pages/communication/__tests__/communication.page.spec.ts
  src/app/pages/communication/communication.page.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/components/test-centre-journal-card/__tests__/test-centre-journal-card.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/delegated-rekey-search/delegated-rekey-search.ts
  src/app/pages/delegated-rekey-upload-outcome/delegated-rekey-upload-outcome.ts
  src/app/pages/error-page/__tests__/error.spec.ts
  src/app/pages/fake-journal/__tests__/fake-journal.page.spec.ts
  src/app/pages/fake-journal/fake-journal.page.ts
  src/app/pages/health-declaration/__tests__/health-declaration.page.spec.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.page.ts
  src/app/pages/login/__tests__/login.page.spec.ts
  src/app/pages/login/login.page.ts
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.ts
  src/app/pages/pass-finalisation/cat-a-mod1/__tests__/pass-finalisation.cat-a-mod1.page.spec.ts
  src/app/pages/pass-finalisation/cat-a-mod2/__tests__/pass-finalisation.cat-a-mod2.page.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part2/__tests__/pass-finalisation.cat-adi-part2.page.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part3/__tests__/pass-finalisation.cat-adi-part3.page.spec.ts
  src/app/pages/pass-finalisation/cat-b/__tests__/pass-finalisation.cat-b.page.spec.ts
  src/app/pages/pass-finalisation/cat-c/__tests__/pass-finalisation.cat-c.page.spec.ts
  src/app/pages/pass-finalisation/cat-cpc/__tests__/pass-finalisation.cat-cpc.page.spec.ts
  src/app/pages/pass-finalisation/cat-d/__tests__/pass-finalisation.cat-d.page.spec.ts
  src/app/pages/pass-finalisation/cat-home-test/__tests__/pass-finalisation.cat-home-test.page.spec.ts
  src/app/pages/pass-finalisation/cat-manoeuvre/__tests__/pass-finalisation.cat-manoeuvre.page.spec.ts
  src/app/pages/rekey-reason/__tests__/rekey-reason.page.spec.ts
  src/app/pages/rekey-search/rekey-search.ts
  src/app/pages/rekey-upload-outcome/__tests__/rekey-upload-outcome.page.spec.ts
  src/app/pages/rekey-upload-outcome/rekey-upload-outcome.page.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-centre-journal/test-centre-journal.page.ts
  src/app/pages/test-results-search/test-results-search.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.page.ts
  src/app/pages/view-test-result/view-test-result.page.ts
  src/app/pages/waiting-room/__tests__/waiting-room.page.spec.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/authentication/__mocks__/authentication.mock.ts
  src/app/providers/authentication/authentication.ts
  src/app/sentry-error-handler.ts
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
  src/app/shared/classes/practiceable-base-page.ts
  src/app/shared/classes/test-flow-base-pages/office/__tests__/office-base-page.spec.ts
  src/app/shared/classes/test-flow-base-pages/pass-finalisation/__tests__/pass-finalisation-base-page.spec.ts
  src/app/shared/classes/test-flow-base-pages/test-report/__tests__/test-report-base-page.spec.ts
  src/app/shared/classes/test-flow-base-pages/waiting-room-to-car/__tests__/waiting-room-to-car-base-page.spec.ts
  src/components/common/practice-mode-banner/__tests__/practice-mode-banner.spec.ts
  src/components/test-slot/test-outcome/__tests__/test-outcome.spec.ts
Labels: tests, typescript

#1453 Mes 9147 paste sanitiser missing fields
  src/app/pages/office/components/route-number/route-number.html
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.html
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.module.ts
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/trainer-registration-number/trainer-registration-number.cat-adi-part2.html
  src/app/pages/waiting-room/components/cbt-number/cbt-number.html
  src/directives/__tests__/emoji-block.directive.spec.ts
  src/directives/__tests__/paste-sanitiser.directive.spec.ts
  src/directives/emoji-block.directive.ts
  src/directives/paste-sanitiser.ts
Labels: tests, typescript

#1463 Update README.md 2023 Decemeber
  README.md
Labels: documentation

#1464 Fix unknown journal html attribute
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/journal/journal.page.ts
Labels: tests, typescript

#1465 Mes 9025 office fault header fix
  src/app/pages/office/cat-a-mod1/office.cat-a-mod1.page.html
  src/app/pages/office/components/fault-comment-card/__tests__/fault-comment-card.spec.ts
  src/app/pages/office/components/fault-comment-card/fault-comment-card.html
Labels: tests, typescript

#1467 Consolidate log message serialiser
  src/app/providers/authentication/authentication.ts
  src/app/providers/data-store/data-store.ts
  src/app/providers/logs/logs-helper.ts
  src/app/sentry-error-handler.ts
  src/app/shared/classes/base-page.ts
  src/app/shared/helpers/__tests__/serialise-log-message.spec.ts
  src/app/shared/helpers/serialise-log-message.ts
Labels: tests, typescript

#1469 Fix app config debug log message
  src/app/providers/app-config/__tests__/app-config.spec.ts
  src/app/providers/app-config/app-config.ts
Labels: tests, typescript

#1471 Centralise `moment` usage
  mock/mock-date-utils.ts
  src/app/pages/candidate-licence/__tests__/candidate-licence.page.spec.ts
  src/app/pages/candidate-licence/candidate-licence.page.ts
  src/app/pages/candidate-licence/components/licence-information/licence-information.ts
  src/app/pages/fake-journal/__mocks__/fake-journal.mock.ts
  src/app/pages/fake-journal/fake-journal.page.ts
  src/app/pages/journal/components/journal-early-start-modal/journal-early-start-modal.ts
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.ts
  src/app/pages/office/components/date-of-test/date-of-test.ts
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/components/search-result/search-result.ts
  src/app/pages/view-test-result/view-test-result.page.ts
  src/app/providers/slot/slot.ts
  src/app/shared/helpers/date-time.ts
  src/app/shared/helpers/test-start-time.ts
  src/components/common/datetime-input/date-time-input.component.ts
  src/store/journal/journal.effects.ts
  src/store/tests/journal-data/common/test-slot-attributes/test-slot-attributes.selector.ts
  src/store/tests/test-data/cat-adi-part3/end-time/end-time.reducer.ts
  src/store/tests/test-data/cat-adi-part3/start-time/start-time.reducer.ts
Labels: tests, typescript

#1472 Remove local enum for in-built package for HTTP status codes
  src/app/pages/delegated-rekey-search/__tests__/delegated-rekey-search.effects.spec.ts
  src/app/pages/delegated-rekey-search/__tests__/delegated-rekey-search.reducer.spec.ts
  src/app/pages/delegated-rekey-search/delegated-rekey-search.effects.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/rekey-reason/__tests__/rekey-reason.effects.spec.ts
  src/app/pages/rekey-reason/rekey-reason.effects.ts
  src/app/pages/rekey-search/__tests__/rekey-search.effects.spec.ts
  src/app/pages/rekey-search/__tests__/rekey-search.reducer.spec.ts
  src/app/pages/rekey-search/rekey-search.effects.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-results-search/__tests__/test-results-search.spec.ts
  src/app/providers/candidate-licence/candidate-licence.ts
  src/app/providers/search/__mocks__/search.mock.ts
  src/app/providers/test-submission/__mocks__/test-submission.mock.ts
  src/app/sentry-error-handler.ts
  src/app/shared/models/http-status-codes.ts
  src/store/journal/__tests__/journal.selector.spec.ts
  src/store/journal/journal.effects.ts
  src/store/tests/tests.effects.ts
Labels: tests, typescript

#1473 MES-9118 Prevent search when offline
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/rekey-search/rekey-search.ts
  src/app/pages/test-results-search/__tests__/test-results-search.spec.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/test-results-search/test-results-search.ts
Labels: tests, typescript
