Repository dvsa/des-mobile-app, pull requests merged in 2023-09, with the labels that each got.

#1358 Holding branch 30 8 23
  src/app/pages/login/login.page.scss
  src/components/common/common-components.module.ts
  src/components/common/header-component/__tests__/header.component.spec.ts
  src/components/common/header-component/header-component.module.ts
  src/components/common/header-component/header.component.html
  src/components/common/header-component/header.component.scss
  src/components/common/header-component/header.component.ts
  src/components/test-slot/test-slot/test-slot.html
  src/theme/sass-partials/_buttons.scss
Labels: tests, typescript

#1360 MES-9016 / Data unavailable msg on Candidate ID
  src/app/pages/candidate-licence/components/licence-data-error/__tests__/licence-data-error.spec.ts
  src/app/pages/candidate-licence/components/licence-data-error/licence-data-error.ts
Labels: tests, typescript

#1361 Dep Review - 06/09/23
  package-lock.json
  package.json
Labels: dependencies

#1364 MES-9036 / Analytics for search criteria of Advanced Search
  src/app/pages/test-results-search/__tests__/test-results-search.analytics.effects.spec.ts
  src/app/pages/test-results-search/test-results-search.analytics.effects.ts
Labels: tests, typescript, analytics

#1366 MES-9049 / Remove journal rehydration
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.effects.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/slot-selector/slot-selector.ts
  src/store/tests/__tests__/tests.effects.spec.ts
  src/store/tests/tests.actions.ts
  src/store/tests/tests.analytics.effects.ts
  src/store/tests/tests.effects.ts
Labels: tests, typescript, analytics

#1368 MES-9051 / Remove residency dec for Cat B extended tests
  mock/generate-local-journal.ts
  src/app/pages/waiting-room/__tests__/waiting-room.page.spec.ts
  src/app/pages/waiting-room/waiting-room.page.html
  src/app/pages/waiting-room/waiting-room.page.ts
Labels: tests, typescript

#1374 MES-9055 / Remove residency dec when extended test
  src/app/pages/waiting-room/waiting-room.page.ts
Labels: typescript

#1370 MES-8952 | List display fix
  src/app/pages/candidate-details/__tests__/candidate-details.page.spec.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.model.ts
  src/app/pages/candidate-details/candidate-details.page.ts
  src/store/candidate-details/__tests__/candidate-details.selector.spec.ts
  src/store/candidate-details/candidate-details.selector.ts
Labels: tests, typescript

#1378 Sentry fixes Sep 2023
  src/app/shared/helpers/format-analytics-text.ts
  src/store/app-config/app-config.selectors.ts
  src/store/journal/journal.selector.ts
Labels: typescript

#1382 ASAM Capacitor Plugin bump
  ios/App/Podfile.lock
  mock/@capacitor/device.ts
  package-lock.json
  package.json
  src/app/pages/login/login.page.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.page.ts
  src/app/providers/device/__tests__/device.spec.ts
  src/app/providers/device/device.ts
  src/app/providers/logs/logs-helper.ts
  src/app/shared/helpers/retry-with-delay.ts
Labels: dependencies, tests, typescript, capacitor

#1375 Mes 9001 | office screen padding
  src/app/pages/candidate-licence/candidate-licence.page.html
  src/app/pages/office/components/candidate-section/candidate-section.html
  src/app/pages/office/components/candidate-section/candidate-section.scss
  src/app/pages/office/components/candidate-section/candidate-section.ts
  src/app/pages/office/components/true-likeness/true-likeness.html
  src/app/pages/office/components/true-likeness/true-likeness.scss
  src/app/pages/office/components/true-likeness/true-likeness.ts
Labels: typescript

#1386 Mes-8952 | large text alignment fixes
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/fake-journal/__mocks__/fake-journal.mock.ts
  src/components/common/data-row-custom/data-row-custom.html
  src/components/common/data-row-custom/data-row-custom.scss
  src/components/common/data-row-custom/data-row-custom.ts
  src/components/common/data-row/data-row.html
Labels: typescript
