Repository dvsa/des-mobile-app, pull requests merged in 2023-07, with the labels that each got.

#1227 mes-8869: Cherry Pick
  config.xml
  ios/App/App/Info.plist
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/view-test-result/components/test-details-card/test-details-card.html
  src/components/test-slot/additional-candidate-details/additional-candidate-details.html
  src/components/test-slot/test-slot/test-slot.html
Labels: version

#1236 Cp Valid Cert Fix
  config.xml
  ios/App/App/Info.plist
  src/app/pages/communication/components/valid-certificate/valid-certificate.ts
Labels: typescript, version

#1238 Mes 8878 uppercase certificate number
  config.xml
  ios/App/App/Info.plist
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.html
  src/app/pages/waiting-room/components/manoeuvres-pass-cert/manoeuvres-pass-cert.html
Labels: version

#1242 CP: Sentry issue - add guard to function
  src/app/pages/office/components/fault-comment-card/fault-comment-card.ts
Labels: typescript

#1241 Sentry issue - add guard to function
  src/app/pages/office/components/fault-comment-card/fault-comment-card.ts
Labels: typescript

#1240 GH actions - Restructure workflow
  .github/auto-label.yaml
  .github/workflows/ci.yaml
  angular.json
  package-lock.json
  package.json
Labels: dependencies, actions

#1243 mes-8893: Add guard to function and remove unused class
  src/components/common/bike-category-type/__tests__/bike-category-type.spec.ts
  src/components/common/bike-category-type/bike-category-type.html
  src/components/common/bike-category-type/bike-category-type.ts
Labels: tests, typescript

#1247 Disable sc for release
  config.xml
  ios/App/App/Info.plist
  src/app/providers/category-whitelist/category-whitelist.ts
Labels: typescript, version

#1260 Sentry fixes 21/07/23
  package-lock.json
  package.json
  src/app/pages/login/login.page.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.ts
  src/store/tests/tests.selector.ts
Labels: dependencies, typescript

#1262 mes-8864: update terminology of test slots
  src/app/shared/models/slot-types.ts
Labels: typescript

#1267 CP - MES-8933
  src/app/pages/communication/communication.page.ts
  src/app/pages/health-declaration/health-declaration.page.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/providers/device-authentication/device-authentication.ts
  src/components/common/terminate-test-modal/terminate-test-modal.ts
Labels: tests, typescript

#1269 CP / MES-8915
  mock/angular-mocks/nav-mock.ts
  mock/angular-mocks/router-mock.ts
  mock/index.mock.ts
  package-lock.json
  package.json
  src/app/pages/dashboard/__tests__/dashboard.analytics.effects.spec.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/components/dashboard-components.module.ts
  src/app/pages/dashboard/components/update-available-modal/__tests__/update-available-modal.spec.ts
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.html
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.scss
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.ts
  src/app/pages/dashboard/dashboard.analytics.effects.ts
  src/app/pages/dashboard/dashboard.page.html
  src/app/pages/dashboard/dashboard.page.scss
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/login/login.page.ts
  src/app/pages/view-test-result/components/debrief-card/__tests__/debrief-card.spec.ts
  src/app/pages/view-test-result/components/debrief-card/debrief-card.html
  src/app/pages/view-test-result/components/debrief-card/debrief-card.ts
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-adi-part2.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-c.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-d/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-d.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-home-test/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-home.page.spec.ts
  src/app/pages/waiting-room-to-car/components/eyesight-failure-confirmation/__tests__/eyesight-failure-confirmation.spec.ts
  src/app/pages/waiting-room-to-car/components/eyesight-failure-confirmation/eyesight-failure-confirmation.ts
  src/app/providers/accessibility/__tests__/accessibility.service.spec.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.model.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/app-info/__mocks__/app-info.mock.ts
  src/app/providers/authentication/__mocks__/authentication.mock.ts
  src/app/providers/device/__tests__/device.spec.ts
  src/app/providers/slot-selector/__tests__/slot-selector.spec.ts
  src/app/providers/slot-selector/slot-selector.ts
  src/app/providers/test-result/__mocks__/test-result.mock.ts
  src/app/providers/test-submission/__mocks__/test-submission.mock.ts
  src/app/providers/url/__mocks__/url.mock.ts
  src/app/shared/classes/test-flow-base-pages/office/__tests__/office-base-page.spec.ts
  src/app/shared/classes/test-flow-base-pages/office/office-base-page.ts
  src/app/shared/helpers/compare-versions.ts
  src/components/test-slot/examiner-name/examiner-name.ts
  src/components/test-slot/language/language.ts
  src/components/test-slot/test-category/test-category.ts
  src/environments/environment.local.ts
  src/store/app-config/app-config.reducer.ts
  src/store/app-config/app-config.selectors.ts
  src/store/app-info/__tests__/app-info.effects.spec.ts
  src/store/app-info/app-info.actions.ts
  src/store/app-info/app-info.effects.ts
  src/store/app-info/app-info.model.ts
  src/store/app-info/app-info.reducer.ts
  src/store/app-info/app-info.selectors.ts
  src/store/candidate-details/__tests__/candidate-details.selector.spec.ts
  src/store/candidate-details/candidate-details.selector.ts
  src/store/tests/__tests__/tests.selector.spec.ts
Labels: dependencies, tests, typescript, analytics

#1266 MES-8933 / Remove ASAM from Device Auth scren
  src/app/pages/communication/communication.page.ts
  src/app/pages/health-declaration/health-declaration.page.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/providers/device-authentication/device-authentication.ts
  src/components/common/terminate-test-modal/terminate-test-modal.ts
Labels: tests, typescript

#1268 MES-8915 / Update available
  mock/angular-mocks/nav-mock.ts
  mock/angular-mocks/router-mock.ts
  mock/index.mock.ts
  package-lock.json
  package.json
  src/app/__mocks__/accessibility.service.mock.ts
  src/app/app.component.ts
  src/app/pages/dashboard/__tests__/dashboard.analytics.effects.spec.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/components/dashboard-components.module.ts
  src/app/pages/dashboard/components/update-available-modal/__tests__/update-available-modal.spec.ts
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.html
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.scss
  src/app/pages/dashboard/components/update-available-modal/update-available-modal.ts
  src/app/pages/dashboard/dashboard.analytics.effects.ts
  src/app/pages/dashboard/dashboard.page.html
  src/app/pages/dashboard/dashboard.page.scss
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/login/login.page.ts
  src/app/pages/view-test-result/__tests__/view-test-result.spec.ts
  src/app/pages/view-test-result/components/debrief-card/__tests__/debrief-card.spec.ts
  src/app/pages/view-test-result/components/debrief-card/debrief-card.html
  src/app/pages/view-test-result/components/debrief-card/debrief-card.ts
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-adi-part2.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-c.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-d/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-d.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-home-test/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-home.page.spec.ts
  src/app/pages/waiting-room-to-car/components/eyesight-failure-confirmation/__tests__/eyesight-failure-confirmation.spec.ts
  src/app/pages/waiting-room-to-car/components/eyesight-failure-confirmation/eyesight-failure-confirmation.ts
  src/app/providers/accessibility/__tests__/accessibility.service.spec.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.model.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/app-info/__mocks__/app-info.mock.ts
  src/app/providers/authentication/__mocks__/authentication.mock.ts
  src/app/providers/device/__tests__/device.spec.ts
  src/app/providers/slot-selector/__tests__/slot-selector.spec.ts
  src/app/providers/slot-selector/slot-selector.ts
  src/app/providers/test-result/__mocks__/test-result.mock.ts
  src/app/providers/test-submission/__mocks__/test-submission.mock.ts
  src/app/providers/url/__mocks__/url.mock.ts
  src/app/shared/classes/test-flow-base-pages/office/__tests__/office-base-page.spec.ts
  src/app/shared/classes/test-flow-base-pages/office/office-base-page.ts
  src/app/shared/helpers/compare-versions.ts
  src/components/test-slot/examiner-name/examiner-name.ts
  src/components/test-slot/language/language.ts
  src/components/test-slot/test-category/test-category.ts
  src/environments/environment.local.ts
  src/store/app-config/app-config.reducer.ts
  src/store/app-config/app-config.selectors.ts
  src/store/app-info/__tests__/app-info.effects.spec.ts
  src/store/app-info/app-info.actions.ts
  src/store/app-info/app-info.effects.ts
  src/store/app-info/app-info.model.ts
  src/store/app-info/app-info.reducer.ts
  src/store/app-info/app-info.selectors.ts
  src/store/candidate-details/__tests__/candidate-details.selector.spec.ts
  src/store/candidate-details/candidate-details.selector.ts
  src/store/tests/__tests__/tests.selector.spec.ts
Labels: dependencies, tests, typescript, analytics

#1270 Mes-8920: Candidate details attempt number
  src/app/pages/candidate-details/__tests__/candidate-details.page.spec.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.ts
  src/store/journal/journal.selector.ts
Labels: tests, typescript

#1271 Mes-8920: cp candidate details attempt number
  src/app/pages/candidate-details/__tests__/candidate-details.page.spec.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.ts
  src/store/journal/journal.selector.ts
Labels: tests, typescript
