Repository dvsa/des-mobile-app, pull requests merged in 2023-10, with the labels that each got.

#1401 Dependency bump 10/23
  .snyk
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
Labels: dependencies, capacitor

#1403 Mes 9025 office faults aria labels
  src/app/pages/debrief/components/driving-faults-debrief-card/__tests__/driving-faults-debrief-card.spec.ts
  src/app/pages/debrief/components/driving-faults-debrief-card/driving-faults-debrief-card.html
  src/app/pages/debrief/components/driving-faults-debrief-card/driving-faults-debrief-card.ts
  src/app/pages/office/cat-a-mod1/office.cat-a-mod1.page.html
  src/app/pages/office/cat-a-mod2/office.cat-a-mod2.page.html
  src/app/pages/office/components/driving-faults/driving-faults.component.html
  src/app/pages/office/components/driving-faults/driving-faults.component.ts
  src/app/pages/office/components/fault-comment-card/fault-comment-card.html
  src/app/pages/office/components/fault-comment/fault-comment.html
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/components/common/dangerous-fault-badge/dangerous-fault-badge.html
  src/components/common/driving-faults-badge/driving-faults-badge.html
  src/components/common/driving-faults-badge/driving-faults-badge.ts
  src/components/common/serious-fault-badge/serious-fault-badge.html
  src/components/common/serious-fault-badge/serious-fault-badge.scss
Labels: tests, typescript

#1406 fix clear storage issue
  config.xml
  ios/App/App/Info.plist
  src/app/providers/authentication/authentication.ts
Labels: typescript, version

#1407 CP - remove dev specific code
  src/app/providers/authentication/authentication.ts
Labels: typescript

#1412 change scan repo command to just look over the last 200 commits
  package.json
Labels: dependencies

#1413 Implement ESLint deprecation plugin
  .eslintrc
  package-lock.json
  package.json
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-report/cat-home-test/components/vehicle-checks/__tests__/vehicle-checks.spec.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/journal/__mocks__/journal.mock.ts
  src/store/journal/journal.effects.ts
Labels: dependencies, tests, typescript

#1410 Dep Update 12/10/2023
  ios/App/Podfile.lock
  mock/ionic-mocks/platform-mock.ts
  package-lock.json
  package.json
  src/app/app.component.ts
Labels: dependencies, typescript, capacitor

#1409 Mes 9002 | vehicle checks modal validation
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks-modal/vehicle-checks-modal.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks-modal/vehicle-checks-modal.cat-a-mod2.page.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks-question/vehicle-checks-question.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks-question/vehicle-checks-question.scss
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks-question/vehicle-checks-question.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks/__tests__/vehicle-checks.spec.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks/vehicle-checks.ts
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.ts
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/vehicle-checks-modal/__tests__/vehicle-checks-modal.cat-adi-part2.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/vehicle-checks-modal/vehicle-checks-modal.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/vehicle-checks-modal/vehicle-checks-modal.cat-adi-part2.page.ts
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.ts
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/vehicle-checks-modal.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-c/components/vehicle-checks-modal/vehicle-checks-modal.cat-c.page.ts
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.ts
  src/app/pages/waiting-room-to-car/cat-d/components/safety-question/safety-question.html
  src/app/pages/waiting-room-to-car/cat-d/components/safety-question/safety-question.ts
  src/app/pages/waiting-room-to-car/cat-d/components/safety-question/safety-questions.scss
  src/app/pages/waiting-room-to-car/cat-d/components/vehicle-checks-modal/vehicle-checks-modal.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-d/components/vehicle-checks-modal/vehicle-checks-modal.cat-d.page.ts
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.ts
  src/app/pages/waiting-room-to-car/cat-home-test/components/vehicle-checks-modal/vehicle-checks-modal.cat-home.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/components/vehicle-checks-modal/vehicle-checks-modal.cat-home.page.ts
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks-question/vehicle-checks-question.html
  src/app/pages/waiting-room-to-car/components/vehicle-checks-question/vehicle-checks-question.scss
  src/app/pages/waiting-room-to-car/components/vehicle-checks-question/vehicle-checks-question.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks/__tests__/vehicle-checks.spec.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks/vehicle-checks.ts
Labels: tests, typescript

#1420 CP MES-9128 / Revert user scalable
  config.xml
  ios/App/App/Info.plist
  src/index.html
Labels: version

#1423 Fastlane 2024 profile
  fastlane/Fastfile
Labels: fastlane

#1424 Cp fastlane 2024 profile
  config.xml
  fastlane/Fastfile
  ios/App/App/Info.plist
Labels: version, fastlane

#1421 Mes 8989 emoji input prevention
  package-lock.json
  package.json
  src/app/pages/communication/components/communication.components.module.ts
  src/app/pages/communication/components/new-email/new-email.html
  src/app/pages/delegated-rekey-search/delegated-rekey-search.html
  src/app/pages/office/cat-adi-part2/components/eco-capture-reason/eco-capture-reason.html
  src/app/pages/office/cat-adi-part2/office.cat-adi-part2.module.ts
  src/app/pages/office/cat-cpc/components/assessment-report/assessment-report.html
  src/app/pages/office/cat-cpc/office.cat-cpc.module.ts
  src/app/pages/office/components/additional-information/additional-information.html
  src/app/pages/office/components/candidate-description/candidate-description.html
  src/app/pages/office/components/fault-comment/fault-comment.html
  src/app/pages/office/components/route-number/route-number.html
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.html
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-finalisation.cat-a-mod1.components.module.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.html
  src/app/pages/pass-finalisation/components/pass-certificate-number/pass-certificate-number.html
  src/app/pages/rekey-reason/components/other-reason/other-reason.html
  src/app/pages/rekey-reason/components/transfer/transfer.html
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/trainer-registration-number/trainer-registration-number.cat-adi-part2.html
  src/app/pages/waiting-room-to-car/cat-b/components/instructor-registration/instructor-registration.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.html
  src/app/pages/waiting-room/components/cbt-number/cbt-number.html
  src/app/pages/waiting-room/components/manoeuvres-pass-cert/manoeuvres-pass-cert.html
  src/components/common/common-components.module.ts
  src/components/common/datetime-input/date-time-input.component.html
  src/components/common/vrn-capture-modal/vrn-capture-modal.html
  src/components/common/vrn-capture-modal/vrn-capture-modal.module.ts
  src/directives/directives.module.ts
  src/directives/emoji-block.directive.ts
Labels: dependencies, typescript

#1418 Mes 9025 office aria label fix
  src/app/pages/debrief/components/driving-faults-debrief-card/driving-faults-debrief-card.html
  src/app/pages/office/cat-a-mod1/office.cat-a-mod1.page.html
  src/app/pages/office/cat-a-mod2/office.cat-a-mod2.page.html
  src/app/pages/office/cat-adi-part2/office.cat-adi-part2.page.html
  src/app/pages/office/cat-b/office.cat-b.page.html
  src/app/pages/office/cat-c/office.cat-c.page.html
  src/app/pages/office/cat-d/office.cat-d.page.html
  src/app/pages/office/cat-home-test/office.cat-home-test.page.html
  src/app/pages/office/components/driving-faults/driving-faults.component.html
  src/app/pages/office/components/driving-faults/driving-faults.component.ts
  src/app/pages/office/components/fault-comment-card/fault-comment-card.html
  src/app/pages/office/components/fault-comment-card/fault-comment-card.ts
  src/app/pages/office/components/fault-comment/fault-comment.html
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/components/common/driving-faults-badge/driving-faults-badge.html
  src/components/common/driving-faults-badge/driving-faults-badge.ts
Labels: typescript

#1425 Mes 8939 | Grammar corrections
  src/app/pages/confirm-test-details/confirm-test-details.page.html
  src/app/pages/office/cat-a-mod2/components/safety-and-balance/safety-and-balance.cat-a-mod2.html
  src/app/pages/office/cat-a-mod2/office.cat-a-mod2.page.html
  src/app/pages/office/components/candidate-description/candidate-description.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/test-centre-journal/components/test-centre-name/test-centre-name.html
  src/app/pages/test-centre-journal/test-centre-journal.page.html
  src/app/pages/test-report/cat-a-mod2/components/safety-and-balance/safety-and-balance.html
  src/app/pages/test-report/cat-a-mod2/test-report.cat-a-mod2.page.html
  src/app/pages/test-report/cat-adi-part2/test-report.cat-adi-part2.page.html
  src/app/pages/test-report/cat-b/components/manoeuvres-popover/manoeuvres-popover.html
  src/app/pages/test-report/cat-b/components/vehicle-check/vehicle-check.html
  src/app/pages/test-report/cat-b/test-report.cat-b.page.html
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-d/test-report.cat-d.page.html
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/pages/test-report/components/competency/competency.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/components/vehicle-checks/vehicle-checks.html
  src/app/shared/constants/competencies/competencies.ts
  src/app/shared/constants/legal-requirements/legal-requirements.constants.ts
  src/app/shared/constants/safety-questions.cat-a-mod2.constants.ts
Labels: typescript
