Repository dvsa/des-mobile-app, pull requests merged in 2023-08, with the labels that each got.

#1274 Test coverage additions 31/07/23
  karma.conf.js
  src/app/__tests__/app.component.spec.ts
  src/app/__tests__/sentry-error-handler.spec.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/candidate-details/__tests__/candidate-details.analytics.effects.spec.ts
  src/app/pages/candidate-details/candidate-details.analytics.effects.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.html
  src/app/pages/delegated-rekey-upload-outcome/__tests__/delegated-rekey-upload-outcome.spec.ts
  src/app/providers/accessibility/__mocks__/accessibility-service.mock.ts
  src/app/providers/app-info/__mocks__/app-info.mock.ts
  src/app/sentry-error-handler.ts
  src/app/shared/pipes/roleFilter.pipe.ts
  src/store/candidate-details/__tests__/candidate-details.selector.spec.ts
  src/store/candidate-details/candidate-details.selector.ts
  src/store/logs/__tests__/logs.reducer.spec.ts
Labels: tests, typescript, analytics

#1252 Mes 8870 journal refresh bug
  src/app/providers/search/__tests__/search.spec.ts
  src/app/providers/search/search.ts
  src/app/shared/helpers/formatters.ts
Labels: tests, typescript

#1281 ADI3/SC Grade B wording
  src/app/pages/debrief/debrief.page.html
  src/app/pages/view-test-result/view-test-result.page.html
  src/components/common/adi3-debrief-card/__tests__/adi3-debrief-card.spec.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
Labels: tests, typescript

#1282 Cp SC/ADI3 grade b wording
  config.xml
  ios/App/App/Info.plist
  src/app/pages/debrief/debrief.page.html
  src/app/pages/view-test-result/view-test-result.page.html
  src/components/common/adi3-debrief-card/__tests__/adi3-debrief-card.spec.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
Labels: tests, typescript, version

#1280 MES-8930 / Offline banner announcement and sporadic aria Labelling
  src/app/pages/communication/components/privacy-notice/privacy-notice.html
  src/app/pages/dashboard/components/practice-test-modal/practice-test-modal.html
  src/app/pages/dashboard/components/profile-header/profile-header.html
  src/app/pages/test-report/components/competency-button/competency-button.html
  src/app/pages/test-report/components/competency/competency.html
  src/app/pages/test-report/components/driving-fault-summary/driving-fault-summary.html
  src/app/pages/test-report/components/eco/eco.html
  src/app/pages/test-report/components/legal-requirements-modal/legal-requirements-modal.html
  src/app/pages/test-report/components/toolbar/toolbar.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/components/common/activity-code/activity-code.html
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
  src/components/common/datetime-input/date-time-input.component.html
  src/components/common/datetime-input/date-time-input.component.ts
  src/components/common/modal-alert-title/modal-alert-title.html
  src/components/common/offline-banner/offline-banner.html
  src/components/common/offline-banner/offline-banner.ts
  src/components/common/practice-mode-banner/practice-mode-banner.html
  src/components/common/screen-lock-indicator/lock-screen-indicator.html
  src/components/common/searchable-picklist-wrapper/searchable-picklist-wrapper.html
  src/global.scss
Labels: typescript

#1291 MES-8964 | Candidate ID design improvements
  src/app/pages/candidate-licence/components/licence-information/licence-information.html
  src/app/pages/candidate-licence/components/licence-photo/licence-photo.html
  src/app/pages/office/components/true-likeness/true-likeness.html
  src/app/pages/office/components/true-likeness/true-likeness.scss
  src/app/pages/office/components/true-likeness/true-likeness.ts
Labels: typescript

#1296 Bump schema - 3.42.5
  package-lock.json
  package.json
  src/app/pages/office/cat-adi-part2/__tests__/office.cat-adi-part2.page.spec.ts
  src/app/providers/fault-count/__mocks__/cat-ADI2-test-data-state-object.mock.ts
  src/store/tests/test-data/cat-adi-part2/_tests_/test-data.cat-adi-part2.selector.spec.ts
  src/store/tests/test-data/cat-adi-part2/manoeuvres/__tests__/manoeuvre.reducer.spec.ts
  src/store/tests/test-data/cat-adi-part2/manoeuvres/manoeuvres.reducer.ts
  src/store/tests/test-summary/cat-a-mod2/__tests__/test-summary.cat-a-mod2.reducer.spec.ts
  src/store/tests/test-summary/cat-a-mod2/test-summary.cat-a-mod2.reducer.ts
Labels: dependencies, tests, typescript

#1302 Mes 8976 restrict team journals
  .snyk
  config.xml
  ios/App/App/Info.plist
  src/app/pages/candidate-details/__tests__/candidate-details.page.spec.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.ts
  src/app/providers/slot/slot.ts
  src/components/test-slot/test-slot/__tests__/test-slot.spec.ts
  src/components/test-slot/test-slot/test-slot.html
  src/components/test-slot/test-slot/test-slot.ts
Labels: tests, typescript, version

#1295 MES-8952 | Candidate screen hyphens
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.scss
  src/app/pages/candidate-details/candidate-details.page.ts
  src/components/test-slot/test-slot/test-slot.html
Labels: typescript

#1313 MES-8922 / Company portal app launcher
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/pages/dashboard/dashboard.page.ts
Labels: dependencies, typescript, version, capacitor

#1318 MES-8965 / DVLA Licence Screen - Not permitted to show data
  src/app/pages/candidate-licence/components/licence-data-error/__tests__/licence-data-error.spec.ts
  src/app/pages/candidate-licence/components/licence-data-error/licence-data-error.ts
Labels: tests, typescript

#1325 MES-8967 dashboard aria
  src/app/pages/dashboard/components/delegated-rekey-card/delegated-rekey-card.html
  src/app/pages/dashboard/components/go-to-journal-card/__tests__/go-to-journal-card.spec.ts
  src/app/pages/dashboard/components/go-to-journal-card/go-to-journal-card.html
  src/app/pages/dashboard/components/go-to-journal-card/go-to-journal-card.ts
  src/app/pages/dashboard/components/practice-end-to-end-card/practice-end-to-end-card.html
  src/app/pages/dashboard/components/practice-end-to-end-card/practice-end-to-end-card.ts
  src/app/pages/dashboard/components/practice-test-report-card/practice-test-report-card.html
  src/app/pages/dashboard/components/practice-test-report-card/practice-test-report-card.ts
  src/app/pages/dashboard/components/rekey-search-card/rekey-search-card.html
  src/app/pages/dashboard/components/rekey-search-card/rekey-search-card.ts
  src/app/pages/dashboard/components/test-centre-journal-card/test-centre-journal-card.html
  src/app/pages/dashboard/components/test-results-search-card/test-results-search-card.html
  src/app/pages/dashboard/dashboard.page.html
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.html
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.ts
Labels: tests, typescript

#1326 Fix indicator display condition
  config.xml
  ios/App/App/Info.plist
  src/components/test-slot/test-slot/test-slot.html
Labels: version

#1327 Release-4.8.1 / Device auth toggle
  src/app/pages/communication/communication.page.ts
  src/app/pages/health-declaration/health-declaration.page.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/device-authentication/device-authentication.ts
  src/components/common/terminate-test-modal/terminate-test-modal.ts
Labels: typescript

#1328 Develop / Device auth toggle
  src/app/pages/communication/communication.page.ts
  src/app/pages/health-declaration/health-declaration.page.ts
  src/app/pages/waiting-room/waiting-room.page.ts
  src/app/providers/device-authentication/device-authentication.ts
  src/components/common/terminate-test-modal/terminate-test-modal.ts
Labels: typescript

#1331 MES-8998 | MES-8999 | MES-9000
  src/app/pages/confirm-test-details/__tests__/confirm-test-details.page.spec.ts
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/office/cat-c/office.cat-c.page.html
  src/app/pages/office/cat-d/office.cat-d.page.html
  src/app/pages/pass-finalisation/cat-a-mod1/pass-finalisation.cat-a-mod1.page.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/pass-finalisation/cat-adi-part2/pass-finalisation.cat-adi-part2.page.html
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.html
  src/app/pages/pass-finalisation/cat-b/pass-finalisation.cat-b.page.html
  src/app/pages/pass-finalisation/cat-c/pass-finalisation.cat-c.page.html
  src/app/pages/pass-finalisation/cat-cpc/pass-finalisation.cat-cpc.page.html
  src/app/pages/pass-finalisation/cat-d/pass-finalisation.cat-d.page.html
  src/app/pages/pass-finalisation/cat-home-test/pass-finalisation.cat-home-test.page.html
  src/app/pages/pass-finalisation/cat-manoeuvre/pass-finalisation.cat-manoeuvre.page.html
  src/app/pages/pass-finalisation/components/licence-provided-warning-banner/licence-provided-warning-banner.ts
Labels: tests, typescript

#1334 Aria / Journal date-navigation
  src/app/pages/fake-journal/fake-journal.module.ts
  src/app/pages/fake-journal/fake-journal.page.html
  src/app/pages/fake-journal/fake-journal.page.ts
  src/app/pages/journal/components/journal-navigation/journal-navigation.html
Labels: typescript

#1340 Accessibility / Non E2E page headers
  src/app/pages/delegated-rekey-search/delegated-rekey-search.html
  src/app/pages/delegated-rekey-upload-outcome/__tests__/delegated-rekey-upload-outcome.spec.ts
  src/app/pages/delegated-rekey-upload-outcome/delegated-rekey-upload-outcome.html
  src/app/pages/error-page/error.html
  src/app/pages/login/login.page.html
  src/app/pages/rekey-reason/components/exit-rekey-modal/exit-rekey-modal.html
  src/app/pages/rekey-reason/components/upload-rekey-modal/upload-rekey-modal.html
  src/app/pages/rekey-reason/rekey-reason.page.html
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/rekey-upload-outcome/rekey-upload-outcome.page.html
  src/app/pages/test-centre-journal/components/candidate-search-card/candidate-search-card.html
  src/app/pages/test-centre-journal/components/view-journals-card/view-journals-card.html
  src/app/pages/test-centre-journal/test-centre-journal.page.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/components/search-result/search-result.html
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/unuploaded-tests/unuploaded-tests.page.html
  src/app/pages/view-test-result/components/activity-code-card/activity-code-card.html
  src/app/pages/view-test-result/components/business-details-card/business-details-card.html
  src/app/pages/view-test-result/components/contact-details-card/contact-details-card.html
  src/app/pages/view-test-result/components/debrief-card/debrief-card.html
  src/app/pages/view-test-result/components/examiner-details-card/examiner-details-card.html
  src/app/pages/view-test-result/components/rekey-details-card/rekey-details-card.html
  src/app/pages/view-test-result/components/rekey-details-card/rekey-details.ts
  src/app/pages/view-test-result/components/rekey-reason-card/rekey-reason-card.html
  src/app/pages/view-test-result/components/safety-question-data-row/safety-question-data-row.html
  src/app/pages/view-test-result/components/test-details-card/test-details-card.html
  src/app/pages/view-test-result/components/test-summary-card/test-summary-card.html
  src/app/pages/view-test-result/components/trainer-details-card/trainer-details-card.html
  src/app/pages/view-test-result/components/vehicle-details-card/vehicle-details-card.html
  src/app/pages/view-test-result/components/view-test-header/view-test-header.html
  src/app/pages/view-test-result/view-test-result.page.html
  src/components/common/cpc-debrief-card/cpc-debrief-card.html
  src/components/common/error-message/error-message.html
  src/components/common/tabs/tabs.html
Labels: tests, typescript

#1347 Test report headers
  src/app/pages/fake-journal/__tests__/fake-journal.page.spec.ts
  src/app/pages/test-report-dashboard/components/dashboard-item/dashboard-item.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report-dashboard/test-report-dashboard.page.html
  src/app/pages/test-report/cat-a-mod1/components/activity-code-4-modal/activity-code-4-modal.html
  src/app/pages/test-report/cat-a-mod1/components/activity-code-4-modal/activity-code-4-modal.scss
  src/app/pages/test-report/cat-a-mod1/test-report.cat-a-mod1.page.html
  src/app/pages/test-report/cat-a-mod2/test-report.cat-a-mod2.page.html
  src/app/pages/test-report/cat-adi-part2/components/manoeuvres-popover/manoeuvres-popover.html
  src/app/pages/test-report/cat-adi-part2/test-report.cat-adi-part2.page.html
  src/app/pages/test-report/cat-adi-part3/components/adi3-end-test-modal/adi3-end-test-modal.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/app/pages/test-report/cat-adi-part3/components/student/student.html
  src/app/pages/test-report/cat-adi-part3/components/tr-assessment-card/tr-assessment-card.html
  src/app/pages/test-report/cat-adi-part3/test-report.cat-adi-part3.page.html
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-cpc/components/cpc-end-test-modal/cpc-end-test-modal.html
  src/app/pages/test-report/cat-cpc/components/cpc-end-test-modal/cpc-end-test-modal.scss
  src/app/pages/test-report/cat-cpc/components/module-assessment/module-assessment.html
  src/app/pages/test-report/cat-cpc/components/module-assessment/module-assessment.scss
  src/app/pages/test-report/cat-cpc/components/question-card/question-card.html
  src/app/pages/test-report/cat-cpc/components/question-score/question-score.html
  src/app/pages/test-report/cat-cpc/components/question-score/question-score.scss
  src/app/pages/test-report/cat-cpc/components/question-title/question-title.html
  src/app/pages/test-report/cat-cpc/test-report.cat-cpc.page.html
  src/app/pages/test-report/cat-cpc/test-report.cat-cpc.page.ts
  src/app/pages/test-report/cat-d/test-report.cat-d.page.html
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/pages/test-report/cat-manoeuvre/test-report.cat-manoeuvre.page.html
  src/app/pages/test-report/components/end-test-modal/end-test-modal.html
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.html
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.scss
  src/app/pages/test-report/components/special-legal-requirement-modal/special-legal-requirement-modal.html
  src/app/pages/test-report/components/test-finalisation-invalid-test-data-modal/test-finalisation-invalid-test-data-modal.html
  src/global.scss
Labels: tests, typescript

#1308 Dep Review 08/23
  .eslintrc
  ios/App/App/config.xml
  ios/App/Podfile.lock
  package-lock.json
  package.json
Labels: dependencies, capacitor

#1349 Dep review #2 08/23
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/theme/variables.scss
Labels: dependencies, capacitor

#1355 Sc test report sleep fix
  config.xml
  ios/App/App/Info.plist
  src/app/pages/communication/communication.page.ts
Labels: typescript, version

#1356 CP | SC test report sleep fix
  src/app/pages/communication/communication.page.ts
Labels: typescript
