Repository dvsa/des-mobile-app, pull requests merged in 2023-11, with the labels that each got.

#1428 Mes 8989 emoji preventions bug fix
  src/app/pages/delegated-rekey-search/delegated-rekey-search.html
  src/app/pages/office/components/route-number/route-number.html
  src/app/pages/rekey-reason/components/other-reason/other-reason.html
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/trainer-registration-number/trainer-registration-number.cat-adi-part2.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/components/trainer-registration-number/trainer-registration-number.cat-adi-part2.ts
  src/app/pages/waiting-room-to-car/cat-b/components/instructor-registration/instructor-registration.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.ts
  src/app/pages/waiting-room/components/cbt-number/cbt-number.html
  src/components/common/searchable-picklist-modal/searchable-picklist-modal.html
  src/directives/emoji-block.directive.ts
Labels: typescript

#1427 CP / MES-9148
  config.xml
  ios/App/App/Info.plist
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.analytics.effects.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/test-results-search.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
Labels: typescript, version, analytics

#1426 MES-9148 / Add fix for logic showing Other on ADI3
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.analytics.effects.ts
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
  src/app/pages/test-results-search/test-results-search.ts
  src/components/common/adi3-debrief-card/adi3-debrief-card.ts
Labels: typescript, analytics

#1441 MES-9165 / Test ID analytic
  .snyk
  config.xml
  ios/App/App/Info.plist
  package-lock.json
  src/app/pages/login/login.page.ts
  src/app/shared/helpers/formatters.ts
  src/store/journal/journal.selector.ts
  src/store/tests/__tests__/tests.analytics.effects.spec.ts
  src/store/tests/tests.analytics.effects.ts
Labels: dependencies, tests, typescript, version, analytics

#1442 Release mes 9157 rekey enable test centre
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.ts
Labels: typescript

#1444 CP / MES-9165
  src/app/pages/login/login.page.ts
  src/app/shared/helpers/formatters.ts
  src/store/journal/journal.selector.ts
  src/store/tests/__tests__/tests.analytics.effects.spec.ts
  src/store/tests/tests.analytics.effects.ts
Labels: tests, typescript, analytics

#1445 MES-9156 / Journal/App fixes
  package-lock.json
  package.json
  src/app/pages/back-to-office/back-to-office.page.ts
  src/app/pages/confirm-test-details/confirm-test-details.page.html
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/components/journal-slot/journal-slot.html
  src/app/pages/journal/components/journal-slot/journal-slot.ts
  src/app/pages/journal/journal.page.ts
  src/app/pages/login/__tests__/login.page.spec.ts
  src/app/pages/login/login.page.ts
  src/app/pages/non-pass-finalisation/__tests__/non-pass-finalisation.page.spec.ts
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.ts
  src/app/pages/post-debrief-holding/post-debrief-holding.page.ts
  src/app/pages/waiting-room-to-car/waiting-room-to-car.effects.ts
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/authentication/__tests__/authentication.spec.ts
  src/app/providers/authentication/authentication.ts
  src/app/providers/data-store/__tests__/data-store.spec.ts
  src/app/providers/data-store/data-store.ts
  src/app/providers/device/__mocks__/device.mock.ts
  src/app/providers/logs/__tests__/logs-helper.spec.ts
  src/app/providers/logs/logs-helper.ts
  src/app/providers/slot/slot.ts
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
  src/app/shared/classes/test-flow-base-pages/waiting-room-to-car/waiting-room-to-car-base-page.ts
  src/components/test-slot/test-slot/test-slot.ts
Labels: dependencies, tests, typescript

#1429 Mes 9147 paste sanitiser directive
  src/app/pages/communication/components/new-email/new-email.html
  src/app/pages/office/cat-adi-part2/components/eco-capture-reason/eco-capture-reason.html
  src/app/pages/office/cat-cpc/components/assessment-report/assessment-report.html
  src/app/pages/office/components/additional-information/additional-information.html
  src/app/pages/office/components/candidate-description/candidate-description.html
  src/app/pages/office/components/fault-comment/fault-comment.html
  src/app/pages/pass-finalisation/cat-a-mod1/components/pass-certificate-number/pass-certificate-number.cat-a-mod1.html
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.html
  src/app/pages/pass-finalisation/components/pass-certificate-number/pass-certificate-number.html
  src/app/pages/rekey-reason/components/other-reason/other-reason.html
  src/app/pages/rekey-reason/components/transfer/transfer.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/test-results-search/test-results-search.html
  src/app/pages/waiting-room-to-car/cat-b/components/instructor-registration/instructor-registration.html
  src/app/pages/waiting-room-to-car/cat-b/components/waiting-room-to-car.cat-b.components.module.ts
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.html
  src/app/pages/waiting-room/components/manoeuvres-pass-cert/manoeuvres-pass-cert.html
  src/components/common/datetime-input/date-time-input.component.html
  src/components/common/searchable-picklist-modal/searchable-picklist-modal.html
  src/components/common/vrn-capture-modal/vrn-capture-modal.html
  src/directives/__tests__/emoji-block.directive.spec.ts
  src/directives/__tests__/paste-sanitiser.directive.spec.ts
  src/directives/directives.module.ts
  src/directives/emoji-block.directive.ts
  src/directives/paste-sanitiser.ts
Labels: tests, typescript

#1451 Angular 17
  .npm-version
  .nvmrc
  angular.json
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/components/common/fit-marker-banner/fit-marker-banner.html
Labels: dependencies, capacitor

#1430 MES-9150 / Dark mode analytic
  package-lock.json
  src/app/pages/dashboard/__tests__/dashboard.analytics.effects.spec.ts
  src/app/pages/dashboard/dashboard.actions.ts
  src/app/pages/dashboard/dashboard.analytics.effects.ts
  src/app/shared/helpers/is-dark-mode.ts
  src/components/test-slot/test-slot/test-slot.scss
  src/store/app-info/__tests__/app-info.effects.spec.ts
  src/store/app-info/app-info.effects.ts
Labels: dependencies, tests, typescript, analytics

#1452 Update CI flow to use v4 actions
  .github/workflows/ci.yaml
Labels: actions
