Repository dvsa/des-mobile-app, pull requests merged in 2024-07, with the labels that each got.

#1661 bump config version
  .snyk
  package-lock.json
  package.json
Labels: dependencies

#1660 Fix/min app version cp
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.model.ts
  src/app/providers/app-config/app-config.ts
  src/store/app-config/app-config.reducer.ts
Labels: typescript

#1667 Mes-9818: Journal rehydrate
  src/app/app.module.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.analytics.effects.spec.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.analytics.effects.ts
  src/app/pages/journal/journal.module.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/journal/journal.page.ts
  src/app/pages/non-pass-finalisation/__tests__/non-pass-finalisation.page.spec.ts
  src/app/pages/pass-finalisation/cat-b/__tests__/pass-finalisation.cat-b.page.spec.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.model.ts
  src/app/providers/app-config/app-config.ts
  src/app/providers/compression/compression.ts
  src/app/providers/search/__mocks__/search.mock.ts
  src/app/providers/search/search.ts
  src/app/providers/url/url.ts
  src/environments/environment.local.ts
  src/store/app-config/app-config.reducer.ts
  src/store/journal/__tests__/journal.effects.spec.ts
  src/store/journal/journal.actions.ts
  src/store/journal/journal.effects.ts
  src/store/journal/journal.selector.ts
  src/store/tests/tests.actions.ts
  src/store/tests/tests.model.ts
  src/store/tests/tests.reducer.ts
  src/store/tests/tests.selector.ts
Labels: tests, typescript, analytics

#1668 mes-9832: updated wording on analytics
  .snyk
  src/app/pages/journal/__tests__/journal.analytics.effects.spec.ts
  src/app/pages/journal/journal.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1672 Mes-9819 | Incomplete tests refactor with badge notification fix
  src/app/app.component.html
  src/app/app.component.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.ts
  src/app/pages/dashboard/dashboard.page.html
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/journal/journal.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.effects.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.page.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.selector.ts
  src/app/shared/classes/test-flow-base-pages/pass-finalisation/pass-finalisation-base-page.ts
  src/components/common/incomplete-tests-banner/__tests__/incomplete-tests-banner.selector.spec.ts
  src/components/common/incomplete-tests-banner/__tests__/incomplete-tests-banner.spec.ts
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.html
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.selector.ts
  src/components/common/incomplete-tests-banner/incomplete-tests-banner.ts
  src/components/test-slot/test-outcome/__tests__/test-outcome.spec.ts
  src/components/test-slot/test-outcome/test-outcome.ts
  src/store/journal/__tests__/journal.selector.spec.ts
  src/store/journal/journal.effects.ts
  src/store/journal/journal.selector.ts
  src/store/tests/__tests__/tests.selector.spec.ts
  src/store/tests/tests.selector.ts
Labels: tests, typescript

#1673 turn off hydration for auto testing
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/journal.page.ts
Labels: typescript

#1674 Auto testing rehydration cp
  config.xml
  ios/App/App/Info.plist
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/journal.page.ts
Labels: typescript, version
