Repository dvsa/des-mobile-app, pull requests merged in 2024-09, with the labels that each got.

#1702 fix: change package directory source
  .github/workflows/ci.yaml
Labels: actions

#1710 Cherry pick into release-4.13
  src/app/pages/confirm-test-details/confirm-test-details.page.html
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
  src/app/pages/examiner-records/examiner-records.page.html
  src/app/pages/examiner-records/examiner-records.selector.ts
  src/app/pages/test-centre-journal/test-centre-journal.page.scss
  src/app/pages/test-report/components/reverse-left/reverse-left.scss
  src/app/pages/test-report/components/toolbar/toolbar.html
  src/app/pages/test-report/components/toolbar/toolbar.scss
  src/app/pages/test-results-search/components/advanced-search/advanced-search.html
  src/app/pages/waiting-room-to-car/cat-manoeuvre/__tests__/waiting-room-to-car.cat-manoeuvre.page.spec.ts
  src/app/pages/waiting-room-to-car/cat-manoeuvre/waiting-room-to-car.cat-manoeuvre.page.ts
  src/app/pages/waiting-room-to-car/components/eyesight-failure-confirmation/eyesight-failure-confirmation.ts
  src/assets/i18n/cy.json
  src/assets/i18n/en.json
Labels: tests, typescript

#1716 version-bump-4.14.0.0
  config.xml
  ios/App/App/Info.plist
Labels: version

#1720 mes-9223: added custom analytic resets to rekey
  src/app/pages/rekey-search/rekey-search.analytics.effects.ts
Labels: typescript, analytics

#1717 mes-9223: added custom analytic resets to rekey
  src/app/pages/rekey-search/rekey-search.analytics.effects.ts
Labels: typescript, analytics

#1729 Mes-9754: update logic for unable to connect
  src/app/pages/waiting-room-to-car/components/mot-components/mot-card/__tests__/mot-card.component.spec.ts
  src/app/pages/waiting-room-to-car/components/mot-components/mot-card/mot-card.component.html
  src/app/pages/waiting-room-to-car/components/mot-components/mot-card/mot-card.component.ts
  src/app/shared/models/http-status-codes.ts
Labels: tests, typescript

#1758 mes-10003-release-turnOffExaminerRecords
  src/app/app.component.ts
Labels: typescript

#1759 mes-release15-versionBump
  config.xml
  ios/App/App/Info.plist
Labels: version

#1760 version bump to 4.16.0.0
  config.xml
  ios/App/App/Info.plist
Labels: version
