Repository dvsa/des-mobile-app, pull requests merged in 2024-01, with the labels that each got.

#1484 Determine auth mode basepage 2
  .nvmrc
  config.xml
  ios/App/App/Info.plist
  src/app/providers/authentication/__tests__/authentication.spec.ts
  src/app/providers/authentication/authentication.ts
  src/app/shared/classes/base-page.ts
  src/app/shared/helpers/__tests__/serialise-log-message.spec.ts
  src/app/shared/helpers/serialise-log-message.ts
Labels: tests, typescript, version

#1475 mes-9066: Validation bar on cadidate appeariance
  src/app/pages/office/components/true-likeness/true-likeness.html
  src/app/pages/office/components/true-likeness/true-likeness.scss
  src/app/pages/office/components/true-likeness/true-likeness.ts
Labels: typescript

#1482 CP - Update basepage with determine check
  src/app/providers/authentication/__tests__/authentication.spec.ts
  src/app/providers/authentication/authentication.ts
  src/app/shared/classes/base-page.ts
Labels: tests, typescript

#1316 MES-8985 / Turn on device auth on test builds
  src/app/providers/device-authentication/device-authentication.ts
Labels: typescript

#1488 update npm command for testing config
  package.json
Labels: dependencies

#1489 MES-8938 | Provisional Licence not received bug fix
  src/app/pages/confirm-test-details/confirm-test-details.page.ts
Labels: typescript

#1490 Mes 9087 update config
  package-lock.json
  package.json
  src/app/providers/app-config/__mocks__/environment.mock.ts
  src/app/providers/schema-validator/__tests__/schema-validator.spec.ts
  src/environments/environment.local.ts
Labels: dependencies, tests, typescript

#1496 MES-9275 | ADI 3 Other Reason fix
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/directives/paste-sanitiser.ts
Labels: typescript
