Repository dvsa/des-mobile-app, pull requests merged in 2024-10, with the labels that each got.

#1766 Revert "mes-10008: hide mot functionality"
  src/app/pages/view-test-result/components/vehicle-details-card/vehicle-details-card.html
  src/app/pages/view-test-result/components/vehicle-details-card/vehicle-details-card.ts
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.ts
Labels: typescript

#1784 mes-8942 - add analytic for 204
  src/app/pages/waiting-room-to-car/cat-a-mod1/waiting-room-to-car.cat-a-mod1.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part3/waiting-room-to-car.cat-adi-part3.page.html
  src/app/pages/waiting-room-to-car/cat-b/waiting-room-to-car.cat-b.page.html
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-cpc/waiting-room-to-car.cat-cpc.page.html
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.html
  src/app/pages/waiting-room-to-car/cat-manoeuvre/waiting-room-to-car.cat-manoeuvre.page.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.ts
  src/app/shared/classes/test-flow-base-pages/waiting-room-to-car/waiting-room-to-car-base-page.ts
Labels: typescript

#1787 mes-release-10017-SCandADIMissingMOT
  config.xml
  ios/App/App/Info.plist
  src/app/shared/constants/activity-code/activity-code.constants.ts
  src/app/shared/models/activity-codes.ts
Labels: typescript, version

#1785 Mes 8942 no content ga cp
  src/app/pages/waiting-room-to-car/cat-a-mod1/waiting-room-to-car.cat-a-mod1.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part3/waiting-room-to-car.cat-adi-part3.page.html
  src/app/pages/waiting-room-to-car/cat-b/waiting-room-to-car.cat-b.page.html
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-cpc/waiting-room-to-car.cat-cpc.page.html
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.html
  src/app/pages/waiting-room-to-car/cat-manoeuvre/waiting-room-to-car.cat-manoeuvre.page.html
  src/app/pages/waiting-room-to-car/components/vehicle-registration/vehicle-registration.ts
  src/app/shared/classes/test-flow-base-pages/waiting-room-to-car/waiting-room-to-car-base-page.ts
Labels: typescript

#1788 mres-release-vehicleDetailsSC
  config.xml
  ios/App/App/Info.plist
  src/app/pages/view-test-result/view-test-result.page.ts
Labels: typescript, version

#1794 MES-9335: add caller workflow for building mobile app artefact
  .github/workflows/build-mobile-app-artefact.yaml
  .snyk
Labels: actions

#1795 MES-9335: GHA mobile app wf fixes
  .github/workflows/build-mobile-app-artefact.yaml
Labels: actions

#1797 Sentry version bump rl
  config.xml
  ios/App/App/Info.plist
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/app.component.ts
Labels: dependencies, typescript, version, capacitor
