Repository dvsa/des-mobile-app, pull requests merged in 2024-06, with the labels that each got.

#1629 version bump
  config.xml
  ios/App/App/Info.plist
Labels: version

#1628 build: update auth web view
  ios/App/App/Info.plist
  src/app/providers/authentication/authentication.ts
Labels: typescript, version

#1632 update fastfile ref
  fastlane/Fastfile
Labels: fastlane

#1638 mes-9742: updated analytics
  src/app/pages/confirm-test-details/confirm-test-details.analytics.effects.ts
  src/app/pages/non-pass-finalisation/__tests__/non-pass-finalisation.analytics.effects.spec.ts
  src/app/pages/non-pass-finalisation/non-pass-finalisation.analytics.effects.ts
  src/app/pages/office/__tests__/office.analytics.effects.spec.ts
  src/app/pages/office/office.analytics.effects.ts
  src/app/pages/pass-finalisation/pass-finalisation.analytics.effects.ts
  src/app/pages/test-report/test-report.analytics.effects.ts
Labels: tests, typescript, analytics

#1639 mes-9742 - updated analytics CP
  src/app/pages/confirm-test-details/confirm-test-details.analytics.effects.ts
  src/app/pages/non-pass-finalisation/__tests__/non-pass-finalisation.analytics.effects.spec.ts
  src/app/pages/non-pass-finalisation/non-pass-finalisation.analytics.effects.ts
  src/app/pages/office/__tests__/office.analytics.effects.spec.ts
  src/app/pages/office/office.analytics.effects.ts
  src/app/pages/pass-finalisation/pass-finalisation.analytics.effects.ts
  src/app/pages/test-report/test-report.analytics.effects.ts
Labels: tests, typescript, analytics

#1640 mes-9737: finalisation analytics
  src/app/pages/non-pass-finalisation/non-pass-finalisation.analytics.effects.ts
  src/app/pages/pass-finalisation/pass-finalisation.analytics.effects.ts
Labels: typescript, analytics

#1642 Mes-9734: return to test
  src/app/pages/test-report/test-report.analytics.effects.ts
Labels: typescript, analytics

#1641 mes-9739 cherry pick
  src/app/pages/non-pass-finalisation/non-pass-finalisation.analytics.effects.ts
  src/app/pages/pass-finalisation/pass-finalisation.analytics.effects.ts
Labels: typescript, analytics

#1634 MES-9748 | ADI TR Event Name change
  src/app/pages/test-report/test-report.analytics.effects.ts
Labels: typescript, analytics

#1644 cherry pick - update fastfile for 2025
  fastlane/Fastfile
Labels: fastlane

#1645 mes-9748 cherry pick
  src/app/pages/test-report/test-report.analytics.effects.ts
Labels: typescript, analytics

#1646 Mes-8978: delegated future test modal
  src/app/pages/journal/components/journal-components.module.ts
  src/app/pages/journal/components/journal-future-test-modal/__tests__/journal-future-test-modal.spec.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.html
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.module.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.scss
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.ts
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: tests, typescript

#1648 mes-8978 - future modal
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: typescript

#1649 Revert "Mes-8978: delegated future test modal"
  src/app/pages/journal/components/journal-components.module.ts
  src/app/pages/journal/components/journal-future-test-modal/__tests__/journal-future-test-modal.spec.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.html
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.module.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.scss
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.ts
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: tests, typescript

#1659 fix: update min app version flow
  src/app/providers/app-config/__mocks__/app-config.mock.ts
  src/app/providers/app-config/app-config.model.ts
  src/app/providers/app-config/app-config.ts
  src/store/app-config/app-config.reducer.ts
Labels: typescript
