Repository dvsa/des-mobile-app, pull requests merged in 2024-04, with the labels that each got.

#1521 mes-snykUpdateAndAudit
  .snyk
  package-lock.json
Labels: dependencies

#1519 mes-9345-TestResultSearchGA4
  src/app/pages/test-results-search/__tests__/test-results-search.analytics.effects.spec.ts
  src/app/pages/test-results-search/test-results-search.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1522 mes-9355-ConfirmTestDetailsGA4
  src/app/pages/confirm-test-details/__tests__/confirm-test-details.analytics.effects.spec.ts
  src/app/pages/confirm-test-details/confirm-test-details.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1516 MES-9352: uncompleted tests GA4 migration
  src/app/pages/unuploaded-tests/__tests__/unuploaded-tests.analytics.effects.spec.ts
  src/app/pages/unuploaded-tests/unuploaded-tests.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1517 Mes 9337 journal ga4
  src/app/pages/journal/__tests__/journal.analytics.effects.spec.ts
  src/app/pages/journal/journal.analytics.effects.ts
  src/app/pages/waiting-room-to-car/__tests__/waiting-room-to-car.analytics.effects.spec.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1520 mes-9348-TestCentreJournalGA4
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.analytics.effects.spec.ts
  src/app/pages/test-centre-journal/test-centre-journal.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1523 mes-9353: health dec GA4 migration
  src/app/pages/health-declaration/__tests__/health-declaration.analytics.effects.spec.ts
  src/app/pages/health-declaration/health-declaration.analytics.effects.ts
Labels: tests, typescript, analytics

#1524 mes-9410: migrate back to office analytics for GA4
  src/app/pages/back-to-office/__tests__/back-to-office.analytics.effects.spec.ts
  src/app/pages/back-to-office/back-to-office.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1527 MES-9357: candidate licence info analytics for GA4
  src/app/pages/candidate-licence/__tests__/candidate-licence.analytics.effects.spec.ts
  src/app/pages/candidate-licence/candidate-licence.analytics.effects.ts
Labels: tests, typescript, analytics

#1530 update config to 4.11.0
  config.xml
  ios/App/App/Info.plist
Labels: version

#1531 mes-9453: add GA4 analytics for practice mode journal
  src/app/pages/fake-journal/__tests__/fake-journal.analytics.effects.spec.ts
  src/app/pages/fake-journal/fake-journal.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1532 add GA4 analytics for practice mode journal
  src/app/pages/fake-journal/__tests__/fake-journal.analytics.effects.spec.ts
  src/app/pages/fake-journal/fake-journal.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1536 mes-9350 (CP) add GA4 analytics for pass certificate
  src/app/pages/pass-certificates/__tests__/pass-certificates.analytics.effects.spec.ts
  src/app/pages/pass-certificates/pass-certificates.analytics.effects.ts
Labels: tests, typescript, analytics

#1535 mes-9350: add GA4 analytics for pass certificate
  src/app/pages/pass-certificates/__tests__/pass-certificates.analytics.effects.spec.ts
  src/app/pages/pass-certificates/pass-certificates.analytics.effects.ts
Labels: tests, typescript, analytics

#1541 Post defrief ga4 cp
  src/app/pages/post-debrief-holding/__tests__/post-debrief-holding.analytics.spec.ts
  src/app/pages/post-debrief-holding/post-debrief-holding.analytics.effects.ts
Labels: tests, typescript, analytics

#1540 post-defrief-ga4
  src/app/pages/post-debrief-holding/__tests__/post-debrief-holding.analytics.spec.ts
  src/app/pages/post-debrief-holding/post-debrief-holding.analytics.effects.ts
Labels: tests, typescript, analytics

#1543 mes-9450: GA4 analytics for rekey reason
  src/app/pages/rekey-reason/__tests__/rekey-reason.analytics.effects.spec.ts
  src/app/pages/rekey-reason/rekey-reason.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1546 Mes-9450: rekey reason cp
  src/app/pages/rekey-reason/__tests__/rekey-reason.analytics.effects.spec.ts
  src/app/pages/rekey-reason/rekey-reason.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1547 mes-9449: migrated GA4 analytics for rekey search
  src/app/pages/rekey-search/__tests__/rekey-search.analytics.effects.spec.ts
  src/app/pages/rekey-search/rekey-search.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1548 Mes-9449: rekey search ga4 cp
  src/app/pages/rekey-search/__tests__/rekey-search.analytics.effects.spec.ts
  src/app/pages/rekey-search/rekey-search.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1550 MES-9451: migrated GA4 analytics for rekey upload outcome
  src/app/pages/rekey-upload-outcome/__tests__/rekey-upload-outcome.analytics.effects.spec.ts
  src/app/pages/rekey-upload-outcome/rekey-upload-outcome.analytics.effects.ts
Labels: tests, typescript, analytics

#1552 MES-9451: migrated GA4 analytics for rekey upload outcome
  src/app/pages/rekey-upload-outcome/__tests__/rekey-upload-outcome.analytics.effects.spec.ts
  src/app/pages/rekey-upload-outcome/rekey-upload-outcome.analytics.effects.ts
Labels: tests, typescript, analytics

#1555 CP MES-9336
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/app/pages/test-report/__tests__/test-report.analytics.effects.spec.ts
  src/app/pages/test-report/test-report.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/shared/constants/competencies/competencies.ts
  src/app/shared/helpers/__tests__/competency-outcome-analytic-event.spec.ts
  src/app/shared/helpers/competency-outcome-analytic-event.ts
Labels: tests, typescript, analytics

#1556 mes-9347: migrated GA4 analytics for test report dashboard
  src/app/pages/test-report-dashboard/__tests__/test-report-dashboard.analytics.effects.spec.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1557 Mes-9347: adi3 sc test report dashboard ga4 cp
  src/app/pages/test-report-dashboard/__tests__/test-report-dashboard.analytics.effects.spec.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1561 Test status ga4 cp
  src/app/providers/analytics/analytics.model.ts
  src/store/tests/test-status/__tests__/test-status.analytics.effects.spec.ts
  src/store/tests/test-status/test-status.analytics.effects.ts
Labels: tests, typescript, analytics

#1559 migrated GA4 analytics for test status
  src/app/providers/analytics/analytics.model.ts
  src/store/tests/test-status/__tests__/test-status.analytics.effects.spec.ts
  src/store/tests/test-status/test-status.analytics.effects.ts
Labels: tests, typescript, analytics

#1568 Mes-9360: cherry pick
  config.xml
  ios/App/App/Info.plist
  src/app/pages/test-report/__tests__/test-report.analytics.effects.spec.ts
  src/app/pages/test-report/test-report.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, version, analytics

#1571 MES-9510 | Driving-Faults-Label
  src/app/pages/waiting-room-to-car/components/vehicle-checks/__tests__/vehicle-checks.spec.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks/vehicle-checks.html
  src/app/pages/waiting-room-to-car/components/vehicle-checks/vehicle-checks.ts
Labels: tests, typescript

#1575 MES-9567- guard against calling journal if delegated user
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
Labels: tests, typescript

#1578 Mes-9489: custom analytics
  src/app/pages/back-to-office/__tests__/back-to-office.analytics.effects.spec.ts
  src/app/pages/back-to-office/back-to-office.analytics.effects.ts
  src/app/pages/candidate-details/__tests__/candidate-details.analytics.effects.spec.ts
  src/app/pages/candidate-details/candidate-details.analytics.effects.ts
  src/app/pages/communication/__tests__/communication.analytics.effects.spec.ts
  src/app/pages/communication/communication.analytics.effects.ts
  src/app/pages/journal/__tests__/journal.analytics.effects.spec.ts
  src/app/pages/journal/journal.analytics.effects.ts
  src/app/pages/office/__tests__/office.analytics.effects.spec.ts
  src/app/pages/office/office.analytics.effects.ts
  src/app/pages/rekey-reason/rekey-reason.analytics.effects.ts
  src/app/pages/test-report/components/reverse-diagram-modal/__tests__/reverse-diagram-modal.analytics.effects.spec.ts
  src/app/pages/test-report/components/reverse-diagram-modal/reverse-diagram-modal.analytics.effects.ts
  src/app/pages/view-test-result/__tests__/view-test-results.analytics.effects.spec.ts
  src/app/pages/view-test-result/view-test-result.analytics.effects.ts
  src/app/pages/waiting-room-to-car/__tests__/waiting-room-to-car.analytics.effects.spec.ts
  src/app/pages/waiting-room-to-car/waiting-room-to-car.analytics.effects.ts
  src/app/pages/waiting-room/waiting-room.analytics.effects.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/analytics/analytics.ts
  src/store/tests/__tests__/tests.analytics.effects.spec.ts
  src/store/tests/tests.analytics.effects.ts
Labels: tests, typescript, analytics

#1581 Mes-9567: delegated examiner journal call cp
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
Labels: tests, typescript, version, analytics

#1582 version bump 4.11.0.3
  config.xml
  ios/App/App/Info.plist
Labels: version

#1584 mes-release-9064-burgerMenuScaling
  src/app/app.component.html
  src/app/pages/dashboard/dashboard.page.html
  src/theme/sass-partials/_typography.scss
Labels: tests, typescript, version, analytics

#1589 mes-9491: change where user id is set in GA4
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1588 mes-9491: change where user id is set in GA4
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1590 mes-9491: restore the config setting for user id CP2
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1593 Mes-9491: rename analytic for user
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1594 version bump
  config.xml
  ios/App/App/Info.plist
Labels: version

#1595 mes-9491: CP
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1592 Mes 9554 journal rehydration
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/dashboard.page.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/components/journal-slot/journal-slot.html
  src/app/pages/journal/journal.page.ts
  src/app/providers/slot-selector/slot-selector.ts
  src/components/test-slot/test-slot/test-slot.ts
  src/store/journal/journal.effects.ts
Labels: tests, typescript
