Repository dvsa/des-mobile-app, pull requests merged in 2024-11, with the labels that each got.

#1805 Mes-9511 character count of input fields
  src/directives/__tests__/character-count.directive.spec.ts
  src/directives/character-count.directive.ts
Labels: tests, typescript

#1817 mes-10108: implement firefox for unit tests
  .snyk
  karma.conf.js
  package-lock.json
  package.json
  src/app/__tests__/app.component.spec.ts
  src/app/__tests__/sentry-error-handler.spec.ts
  src/app/pages/dashboard/__tests__/dashboard.analytics.effects.spec.ts
  src/app/pages/delegated-rekey-upload-outcome/__tests__/delegated-rekey-upload-outcome.spec.ts
  src/app/pages/examiner-records/__tests__/examiner-records.page.spec.ts
  src/app/pages/examiner-records/__tests__/examiner-records.selector.spec.ts
  src/app/pages/office/components/alternate-mot-evidence-description/__tests__/alternate-evidence-description.component.spec.ts
  src/app/pages/rekey-search/__tests__/rekey-search.spec.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-report-dashboard/__tests__/test-report-dashboard.analytics.effects.spec.ts
  src/app/pages/test-report/__tests__/test-report.analytics.effects.spec.ts
  src/app/pages/test-report/cat-b/__tests__/test-report.cat-b.page.spec.ts
  src/app/pages/test-report/cat-c/__tests__/test-report.cat-c.page.spec.ts
  src/app/pages/test-report/cat-cpc/__tests__/test-report.cat-cpc.page.spec.ts
  src/app/pages/test-report/cat-cpc/components/question-card/__tests__/question-card.spec.ts
  src/app/pages/test-report/cat-cpc/components/question-five-card/__tests__/question-five-card.spec.ts
  src/app/pages/test-report/cat-d/__tests__/test-report.cat-d.page.spec.ts
  src/app/pages/test-report/cat-d/components/pcv-door-exercise/__tests__/pcv-door-exercise.spec.ts
  src/app/pages/test-report/cat-home-test/__tests__/test-report.cat-home-test.page.spec.ts
  src/app/pages/view-test-result/__tests__/view-test-result.spec.ts
  src/app/pages/waiting-room-to-car/components/mot-components/alternate-mot-evidence/__tests__/alternate-mot-evidence.component.spec.ts
  src/app/pages/waiting-room-to-car/components/mot-components/mot-failed-modal/__tests__/mot-failed-modal.component.spec.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks-completed/__tests__/vehicle-checks-completed.spec.ts
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/providers/test-persistence/__tests__/test-persistence.spec.ts
  src/app/shared/helpers/__tests__/serialise-log-message.spec.ts
  src/components/common/adi3-debrief-card/__tests__/adi3-debrief-card.spec.ts
  src/components/common/error-message/__tests__/error-message.spec.ts
  src/components/common/fit-marker-banner/__tests__/fit-marker-banner.spec.ts
  src/components/common/screen-lock-indicator/__tests__/screen-lock-indicator.spec.ts
  src/store/app-info/__tests__/app-info.effects.spec.ts
  src/store/examiner-records/__tests__/examiner-records.effects.spec.ts
Labels: dependencies, tests, typescript, analytics

#1820 Mes-10108: fix issues with unit tests part 1
  src/app/__tests__/app.component.spec.ts
  src/app/pages/test-report-dashboard/__tests__/test-report-dashboard.analytics.effects.spec.ts
  src/app/pages/test-report-dashboard/test-report-dashboard.analytics.effects.ts
  src/app/pages/test-report/cat-cpc/components/question-five-card/__tests__/question-five-card.spec.ts
  src/app/pages/test-report/cat-d/components/pcv-door-exercise/__tests__/pcv-door-exercise.spec.ts
  src/app/pages/view-test-result/__tests__/view-test-result.spec.ts
Labels: tests, typescript, analytics

#1822 mes-10108 - fix issues with unit tests part 2
  src/app/pages/examiner-records/__tests__/examiner-records.page.spec.ts
  src/app/pages/office/components/alternate-mot-evidence-description/__tests__/alternate-evidence-description.component.spec.ts
  src/app/pages/rekey-search/__tests__/rekey-search.spec.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/test-report/cat-cpc/components/question-card/__tests__/question-card.spec.ts
Labels: tests, typescript

#1823 mes-10108 - fix issues with unit tests part 3
  src/app/pages/waiting-room-to-car/components/mot-components/alternate-mot-evidence/__tests__/alternate-mot-evidence.component.spec.ts
Labels: tests, typescript

#1827 mes-10108-update-unit-tests-as-5
  src/app/pages/test-report/cat-home-test/__tests__/test-report.cat-home-test.page.spec.ts
  src/app/shared/classes/test-flow-base-pages/test-report/__tests__/test-report-base-page.spec.ts
Labels: tests, typescript

#1829 mes-9511-characterCountFix
  src/app/pages/office/components/candidate-description/__tests__/candidate-description.spec.ts
  src/app/pages/office/components/candidate-description/candidate-description.html
  src/app/pages/office/components/candidate-description/candidate-description.ts
  src/app/pages/office/components/fault-comment/fault-comment.html
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/__tests__/reason-given.component.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.html
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.ts
  src/app/pages/rekey-reason/components/other-reason/other-reason.html
  src/app/pages/rekey-reason/components/other-reason/other-reason.ts
  src/app/pages/test-report-dashboard/components/review-feedback/__tests__/review-feedback.spec.ts
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.ts
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/__tests__/lesson-theme.spec.ts
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.ts
  src/directives/__tests__/paste-sanitiser.directive.spec.ts
  src/directives/character-count.directive.ts
  src/directives/paste-sanitiser.ts
Labels: tests, typescript

#1835 MES-10108 Reinstate chrome unit tests
  karma.conf.js
  package-lock.json
  package.json
  src/app/__tests__/sentry-error-handler.spec.ts
  src/app/pages/delegated-rekey-upload-outcome/__tests__/delegated-rekey-upload-outcome.spec.ts
  src/app/pages/examiner-records/__tests__/examiner-records.selector.spec.ts
  src/app/pages/test-report/__tests__/test-report.analytics.effects.spec.ts
  src/app/pages/test-report/cat-d/__tests__/test-report.cat-d.page.spec.ts
  src/app/pages/waiting-room-to-car/components/vehicle-checks-completed/__tests__/vehicle-checks-completed.spec.ts
  src/app/providers/device-authentication/__tests__/device-authentication.spec.ts
  src/app/shared/helpers/__tests__/serialise-log-message.spec.ts
  src/store/app-info/__tests__/app-info.effects.spec.ts
  src/store/examiner-records/__tests__/examiner-records.effects.spec.ts
Labels: dependencies, tests, typescript, analytics

#1836 Ensure `DOMException` objects are logged correctly
  package-lock.json
  package.json
  src/app/shared/helpers/__tests__/serialise-log-message.spec.ts
  src/app/shared/helpers/serialise-log-message.ts
Labels: dependencies, tests, typescript
