Repository dvsa/des-mobile-app, pull requests merged in 2024-12, with the labels that each got.

#1838 mes-9511: text area character count service
  src/app/pages/office/components/candidate-description/__tests__/candidate-description.spec.ts
  src/app/pages/office/components/candidate-description/candidate-description.ts
  src/app/pages/office/components/fault-comment/__tests__/fault-comment.spec.ts
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/__tests__/reason-given.component.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.ts
  src/app/pages/rekey-reason/components/other-reason/__tests__/other-reason.spec.ts
  src/app/pages/rekey-reason/components/other-reason/other-reason.ts
  src/app/pages/test-report-dashboard/components/review-feedback/__tests__/review-feedback.spec.ts
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.ts
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/__tests__/lesson-theme.spec.ts
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.ts
  src/app/providers/character-count/__tests__/character-count.service.spec.ts
  src/app/providers/character-count/character-count.service.ts
Labels: tests, typescript

#1840 mes-9511: text areas standardisation
  src/app/pages/office/cat-adi-part2/components/eco-capture-reason/eco-capture-reason.html
  src/app/pages/office/cat-adi-part2/components/eco-capture-reason/eco-capture-reason.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.html
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.ts
Labels: typescript

#1845 mes-9511: removed max limit to feedback field
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.html
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.ts
Labels: typescript

#1848 version bump 4.17
  config.xml
  ios/App/App/Info.plist
Labels: version

#1849 Turn off er
  config.xml
  ios/App/App/Info.plist
  src/app/app.component.ts
Labels: typescript, version

#1850 version bump v4.18.0
  config.xml
  ios/App/App/Info.plist
Labels: version

#1852 MES-10152: remove ability to run fastlane through different versions of Xcode
  fastlane/Fastfile
Labels: fastlane
