Repository dvsa/des-mobile-app, pull requests merged in 2024-05, with the labels that each got.

#1596 mes-8978-RemoveModal
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: typescript

#1576 MES-9684: Capacitor 6 upgrade
  ios/App/App/Info.plist
  ios/App/App/capacitor.config.json
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/pages/communication/__tests__/communication.page.spec.ts
  src/app/pages/confirm-test-details/components/confirm-submit-modal/__tests__/submit-modal.spec.ts
  src/app/pages/dashboard/__tests__/dashboard.page.spec.ts
  src/app/pages/dashboard/components/go-to-journal-card/__tests__/go-to-journal-card.spec.ts
  src/app/pages/health-declaration/components/health-declaration-modal/__tests__/health-declaration-modal.spec.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/login/__tests__/login.page.spec.ts
  src/app/pages/pass-finalisation/cat-a-mod1/__tests__/pass-finalisation.cat-a-mod1.page.spec.ts
  src/app/pages/pass-finalisation/cat-a-mod2/__tests__/pass-finalisation.cat-a-mod2.page.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part2/__tests__/pass-finalisation.cat-adi-part2.page.spec.ts
  src/app/pages/pass-finalisation/cat-adi-part3/__tests__/pass-finalisation.cat-adi-part3.page.spec.ts
  src/app/pages/pass-finalisation/cat-b/__tests__/pass-finalisation.cat-b.page.spec.ts
  src/app/pages/pass-finalisation/cat-c/__tests__/pass-finalisation.cat-c.page.spec.ts
  src/app/pages/pass-finalisation/cat-cpc/__tests__/pass-finalisation.cat-cpc.page.spec.ts
  src/app/pages/pass-finalisation/cat-d/__tests__/pass-finalisation.cat-d.page.spec.ts
  src/app/pages/pass-finalisation/cat-home-test/__tests__/pass-finalisation.cat-home-test.page.spec.ts
  src/app/pages/pass-finalisation/cat-manoeuvre/__tests__/pass-finalisation.cat-manoeuvre.page.spec.ts
  src/app/pages/post-debrief-holding/__tests__/post-debrief-holding.page.spec.ts
  src/app/pages/test-centre-journal/__tests__/test-centre-journal.page.spec.ts
  src/app/pages/waiting-room/__tests__/waiting-room.page.spec.ts
  src/components/common/practice-mode-banner/__tests__/practice-mode-banner.spec.ts
Labels: dependencies, tests, typescript, version, capacitor

#1598 mes-9646: add custom analytic for app version
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/analytics/analytics.ts
Labels: typescript, analytics

#1606 Mes-9554: Writeup recovery scenario
  .snyk
  package-lock.json
  package.json
  src/app/pages/candidate-details/__tests__/candidate-details.page.spec.ts
  src/app/pages/candidate-details/candidate-details.page.html
  src/app/pages/candidate-details/candidate-details.page.ts
  src/app/pages/journal/components/journal-slot/__tests__/journal-slot.spec.ts
  src/app/pages/journal/components/journal-slot/journal-slot.html
  src/app/pages/journal/components/journal-slot/journal-slot.ts
  src/app/pages/journal/journal.page.html
  src/app/pages/journal/journal.page.ts
  src/app/providers/search/__mocks__/search-results.mock.ts
  src/app/providers/slot-selector/__mocks__/slot-selector.mock.ts
  src/app/providers/slot-selector/__tests__/slot-selector.spec.ts
  src/app/providers/slot-selector/slot-selector.ts
  src/components/common/common-components.module.ts
  src/components/common/test-recovered-banner/__tests__/test-recovered-banner.spec.ts
  src/components/common/test-recovered-banner/test-recovered-banner.html
  src/components/common/test-recovered-banner/test-recovered-banner.scss
  src/components/common/test-recovered-banner/test-recovered-banner.ts
  src/components/test-slot/autosave-status/__tests__/autosave-status.spec.ts
  src/components/test-slot/autosave-status/autosave-status.html
  src/components/test-slot/autosave-status/autosave-status.scss
  src/components/test-slot/autosave-status/autosave-status.ts
  src/components/test-slot/test-outcome/test-outcome.ts
  src/components/test-slot/test-slot-components.module.ts
  src/components/test-slot/test-slot/__tests__/test-slot.spec.ts
  src/components/test-slot/test-slot/test-slot.html
  src/components/test-slot/test-slot/test-slot.ts
  src/index.html
  src/store/journal/__tests__/journal.selector.spec.ts
Labels: dependencies, tests, typescript

#1609 version bump
  config.xml
  ios/App/App/Info.plist
Labels: version

#1608 Mes 9554 cp
  config.xml
  ios/App/App/Info.plist
  src/components/common/test-recovered-banner/test-recovered-banner.html
Labels: version

#1613 Mes-9338: rekey declaration sc
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: typescript

#1614 mes-9338: implement same logic for rekey tests for SC as non rekey tests
  src/components/test-slot/test-outcome/test-outcome.ts
Labels: typescript

#1615 version bump 4.12.0.1
  config.xml
  ios/App/App/Info.plist
Labels: version

#1617 Mes-9554: rehydration guard for no test slots cp
  config.xml
  ios/App/App/Info.plist
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/components/journal-slot/__tests__/journal-slot.spec.ts
  src/app/pages/journal/components/journal-slot/journal-slot.ts
  src/app/pages/journal/journal.page.ts
Labels: tests, typescript, version

#1616 mes-journalRehydrationFix
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/journal/components/journal-slot/__tests__/journal-slot.spec.ts
  src/app/pages/journal/components/journal-slot/journal-slot.ts
  src/app/pages/journal/journal.page.ts
Labels: tests, typescript

#1618 mes-9745: address vulnerabilities
  package-lock.json
  package.json
Labels: dependencies

#1624 mes-versionBump
  package-lock.json
  package.json
Labels: dependencies
