Repository dvsa/des-mobile-app, pull requests merged in 2025-07, with the labels that each got.

#2002 MES-10532: useful links config cp
  package-lock.json
  package.json
  src/app/pages/journal/components/learn-more-modal/learn-more-modal.ts
  src/app/pages/useful-links/_tests_/useful-links.spec.ts
  src/app/pages/useful-links/components/link-modal/_tests_/link-modal.spec.ts
  src/app/providers/app-config/__mocks__/environment.mock.ts
  src/app/providers/exitSAM/exitSAM.ts
Labels: dependencies, tests, typescript

#2010 [Snyk] Upgrade @ionic/core from 8.5.3 to 8.6.1
  package-lock.json
  package.json
Labels: dependencies

#2025 Mes-10458 v2
  src/app/pages/office/components/office-registration-and-mot/office-registration-and-mot.component.html
  src/app/pages/test-centre-journal/components/view-journals-card/__tests__/view-journals-card.spec.ts
  src/app/pages/test-centre-journal/components/view-journals-card/view-journals-card.html
  src/app/pages/test-centre-journal/components/view-journals-card/view-journals-card.ts
  src/app/shared/helpers/__tests__/transform-string-for-id.spec.ts
  src/app/shared/helpers/transform-string-for-id.ts
  src/components/common/mot-status-display-text/mot-status-display-text.component.html
  src/components/common/tabs/tabs.html
  src/components/common/tabs/tabs.ts
Labels: tests, typescript
