Repository dvsa/des-mobile-app, pull requests merged in 2025-03, with the labels that each got.

#1898 mes-10309: CP escape from sam subscription
  src/app/pages/candidate-licence/candidate-licence.page.html
  src/app/pages/communication/communication.page.html
  src/app/pages/confirm-test-details/confirm-test-details.page.html
  src/app/pages/debrief/debrief.page.html
  src/app/pages/health-declaration/health-declaration.page.html
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.html
  src/app/pages/pass-finalisation/cat-a-mod1/pass-finalisation.cat-a-mod1.page.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/pass-finalisation/cat-adi-part2/pass-finalisation.cat-adi-part2.page.html
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.html
  src/app/pages/pass-finalisation/cat-b/pass-finalisation.cat-b.page.html
  src/app/pages/pass-finalisation/cat-c/pass-finalisation.cat-c.page.html
  src/app/pages/pass-finalisation/cat-cpc/pass-finalisation.cat-cpc.page.html
  src/app/pages/pass-finalisation/cat-d/pass-finalisation.cat-d.page.html
  src/app/pages/pass-finalisation/cat-home-test/pass-finalisation.cat-home-test.page.html
  src/app/pages/pass-finalisation/cat-manoeuvre/pass-finalisation.cat-manoeuvre.page.html
  src/app/pages/post-debrief-holding/post-debrief-holding.page.html
  src/app/pages/test-centre-journal/test-centre-journal.page.html
  src/app/pages/test-report-dashboard/test-report-dashboard.page.html
  src/app/pages/test-report/cat-a-mod1/test-report.cat-a-mod1.page.html
  src/app/pages/test-report/cat-a-mod2/test-report.cat-a-mod2.page.html
  src/app/pages/test-report/cat-adi-part2/test-report.cat-adi-part2.page.html
  src/app/pages/test-report/cat-adi-part3/test-report.cat-adi-part3.page.html
  src/app/pages/test-report/cat-b/test-report.cat-b.page.html
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-cpc/test-report.cat-cpc.page.html
  src/app/pages/test-report/cat-d/test-report.cat-d.page.html
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/pages/test-report/cat-manoeuvre/test-report.cat-manoeuvre.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod1/waiting-room-to-car.cat-a-mod1.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part3/waiting-room-to-car.cat-adi-part3.page.html
  src/app/pages/waiting-room-to-car/cat-b/waiting-room-to-car.cat-b.page.html
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-cpc/waiting-room-to-car.cat-cpc.page.html
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.html
  src/app/pages/waiting-room-to-car/cat-manoeuvre/waiting-room-to-car.cat-manoeuvre.page.html
  src/app/pages/waiting-room/waiting-room.page.html
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
  src/components/common/test-flow-header/_tests_/test-flow-header.component.spec.ts
  src/components/common/test-flow-header/test-flow-header.component.ts
Labels: tests, typescript

#1897 mes-10309-escapeFromSAMSubscriptionFix
  src/app/pages/candidate-licence/candidate-licence.page.html
  src/app/pages/communication/communication.page.html
  src/app/pages/confirm-test-details/confirm-test-details.page.html
  src/app/pages/debrief/debrief.page.html
  src/app/pages/health-declaration/health-declaration.page.html
  src/app/pages/non-pass-finalisation/non-pass-finalisation.page.html
  src/app/pages/pass-finalisation/cat-a-mod1/pass-finalisation.cat-a-mod1.page.html
  src/app/pages/pass-finalisation/cat-a-mod2/pass-finalisation.cat-a-mod2.page.html
  src/app/pages/pass-finalisation/cat-adi-part2/pass-finalisation.cat-adi-part2.page.html
  src/app/pages/pass-finalisation/cat-adi-part3/pass-finalisation.cat-adi-part3.page.html
  src/app/pages/pass-finalisation/cat-b/pass-finalisation.cat-b.page.html
  src/app/pages/pass-finalisation/cat-c/pass-finalisation.cat-c.page.html
  src/app/pages/pass-finalisation/cat-cpc/pass-finalisation.cat-cpc.page.html
  src/app/pages/pass-finalisation/cat-d/pass-finalisation.cat-d.page.html
  src/app/pages/pass-finalisation/cat-home-test/pass-finalisation.cat-home-test.page.html
  src/app/pages/pass-finalisation/cat-manoeuvre/pass-finalisation.cat-manoeuvre.page.html
  src/app/pages/post-debrief-holding/post-debrief-holding.page.html
  src/app/pages/test-centre-journal/test-centre-journal.page.html
  src/app/pages/test-report-dashboard/test-report-dashboard.page.html
  src/app/pages/test-report/cat-a-mod1/test-report.cat-a-mod1.page.html
  src/app/pages/test-report/cat-a-mod2/test-report.cat-a-mod2.page.html
  src/app/pages/test-report/cat-adi-part2/test-report.cat-adi-part2.page.html
  src/app/pages/test-report/cat-adi-part3/test-report.cat-adi-part3.page.html
  src/app/pages/test-report/cat-b/test-report.cat-b.page.html
  src/app/pages/test-report/cat-c/test-report.cat-c.page.html
  src/app/pages/test-report/cat-cpc/test-report.cat-cpc.page.html
  src/app/pages/test-report/cat-d/test-report.cat-d.page.html
  src/app/pages/test-report/cat-home-test/test-report.cat-home-test.page.html
  src/app/pages/test-report/cat-manoeuvre/test-report.cat-manoeuvre.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod1/waiting-room-to-car.cat-a-mod1.page.html
  src/app/pages/waiting-room-to-car/cat-a-mod2/waiting-room-to-car.cat-a-mod2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part2/waiting-room-to-car.cat-adi-part2.page.html
  src/app/pages/waiting-room-to-car/cat-adi-part3/waiting-room-to-car.cat-adi-part3.page.html
  src/app/pages/waiting-room-to-car/cat-b/waiting-room-to-car.cat-b.page.html
  src/app/pages/waiting-room-to-car/cat-c/waiting-room-to-car.cat-c.page.html
  src/app/pages/waiting-room-to-car/cat-cpc/waiting-room-to-car.cat-cpc.page.html
  src/app/pages/waiting-room-to-car/cat-d/waiting-room-to-car.cat-d.page.html
  src/app/pages/waiting-room-to-car/cat-home-test/waiting-room-to-car.cat-home-test.page.html
  src/app/pages/waiting-room-to-car/cat-manoeuvre/waiting-room-to-car.cat-manoeuvre.page.html
  src/app/pages/waiting-room/waiting-room.page.html
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
  src/components/common/test-flow-header/_tests_/test-flow-header.component.spec.ts
  src/components/common/test-flow-header/test-flow-header.component.ts
Labels: tests, typescript

#1902 Mes 10059 add guard to exit
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
Labels: tests, typescript

#1901 mes-10309-escapeSAMMultipleSubscriptionFix
  src/app/shared/classes/__tests__/base-page.spec.ts
  src/app/shared/classes/base-page.ts
Labels: tests, typescript

#1899 version bump 4.18.0.3
  config.xml
  ios/App/App/Info.plist
Labels: version

#1903 MES-10099: gha ci workflow runner update
  .github/workflows/ci.yaml
Labels: actions

#1906 Version bump to 4.18.0.4
  config.xml
  ios/App/App/Info.plist
Labels: version

#1917 MES-10256: Ammend input field limits
  src/app/pages/office/cat-adi-part2/components/eco-capture-reason/eco-capture-reason.ts
  src/app/pages/office/components/alternate-mot-evidence-description/alternate-mot-evidence-description.component.html
  src/app/pages/office/components/candidate-description/candidate-description.constants.ts
  src/app/pages/office/components/fault-comment/fault-comment.ts
  src/app/pages/pass-finalisation/cat-adi-part3/components/reason-given/reason-given.component.ts
  src/app/pages/test-report-dashboard/components/review-feedback/review-feedback.ts
  src/app/pages/test-report/cat-adi-part3/components/lesson-theme/lesson-theme.ts
Labels: typescript

#1914 mes-10320: feat: gha fastlane build which produces qr code
  .github/workflows/build-mobile-app-artefact.yaml
  angular.json
  fastlane/Fastfile
  fastlane/README.md
  package.json
  src/app/providers/app-config/app-config.ts
  src/environments/environment.qr.ts
  src/environments/environment.testing.ts
  src/environments/models/environment.model.ts
Labels: dependencies, typescript, actions, fastlane

#1918 MES-10320: fix build mobile app artefact workflow
  .github/workflows/build-mobile-app-artefact.yaml
Labels: actions
