Repository dvsa/des-mobile-app, pull requests merged in 2025-05, with the labels that each got.

#1944 mes-10052: prevent fatal error, remove unnecessary code and fix page layout
  .snyk
  src/app/pages/waiting-room-to-car/components/mot-components/practice-mode-mot-modal/__tests__/practice-mode-mot-modal.component.spec.ts
  src/app/pages/waiting-room-to-car/components/mot-components/practice-mode-mot-modal/practice-mode-mot-modal.component.html
  src/app/pages/waiting-room-to-car/components/mot-components/practice-mode-mot-modal/practice-mode-mot-modal.component.ts
Labels: tests, typescript

#1945 Mes-8775: prevent rekey live tests
  .snyk
  src/app/pages/rekey-search/__tests__/rekey-search.spec.ts
  src/app/pages/rekey-search/rekey-search.html
  src/app/pages/rekey-search/rekey-search.ts
Labels: tests, typescript

#1953 ci: Mes-10396 fastlane cp
  angular.json
  fastlane/Fastfile
  fastlane/README.md
  package.json
  src/app/providers/app-config/app-config.ts
  src/environments/environment.qr.ts
  src/environments/environment.testing.ts
  src/environments/models/environment.model.ts
Labels: dependencies, typescript, fastlane

#1958 mes-10400: update exit sam analytics
  src/components/common/test-flow-header/exit-sam.actions.ts
  src/components/common/test-flow-header/exit-sam.analytics.effects.ts
  src/components/common/test-flow-header/test-flow-header.component.ts
Labels: typescript, analytics

#1964 mes-10432: enable examiner records
  config.xml
  ios/App/App/Info.plist
  src/app/app.component.ts
Labels: typescript, version
