Repository dvsa/des-mobile-app, pull requests merged in 2025-02, with the labels that each got.

#1873 bump config version to include useful links
  package-lock.json
  package.json
Labels: dependencies

#1879 mes-escapeFromSAMRemoveToDO
  src/store/tests/user-exited-app/user-exited-app.analytics.effects.ts
Labels: typescript, analytics

#1880 feat: (mes-10280) - clear records on logout
  src/app/providers/authentication/__tests__/authentication.spec.ts
  src/app/providers/authentication/authentication.ts
  src/app/providers/examiner-records/__tests__/examiner-records.spec.ts
  src/app/providers/examiner-records/examiner-records.ts
Labels: tests, typescript

#1890 Mes 9245 useful links dynamic actions
  src/app/pages/useful-links/_tests_/useful-links.spec.ts
  src/app/pages/useful-links/useful-links.actions.ts
  src/app/pages/useful-links/useful-links.analytics.effects.ts
  src/app/pages/useful-links/useful-links.module.ts
  src/app/pages/useful-links/useful-links.page.html
  src/app/pages/useful-links/useful-links.page.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#1889 mes-10059-escapeFromSAMBugFix
  src/components/common/test-flow-header/_tests_/test-flow-header.component.spec.ts
  src/components/common/test-flow-header/test-flow-header.component.ts
Labels: tests, typescript

#1878 Mes-10005: Examiner records iteration6
  .snyk
  package-lock.json
  package.json
  src/app/pages/examiner-records/__tests__/examiner-records.page.spec.ts
  src/app/pages/examiner-records/__tests__/examiner-records.selector.spec.ts
  src/app/pages/examiner-records/components/examiner-records-components.module.ts
  src/app/pages/examiner-records/components/examiner-records-label-text/__tests__/examiner-records-label-text.spec.ts
  src/app/pages/examiner-records/components/examiner-records-label-text/examiner-records-label-text.html
  src/app/pages/examiner-records/components/examiner-records-label-text/examiner-records-label-text.module.ts
  src/app/pages/examiner-records/components/examiner-records-label-text/examiner-records-label-text.scss
  src/app/pages/examiner-records/components/examiner-records-label-text/examiner-records-label-text.ts
  src/app/pages/examiner-records/components/examiner-records-learn-more-modal/__tests__/examiner-records-learn-more-modal.spec.ts
  src/app/pages/examiner-records/components/examiner-records-learn-more-modal/examiner-records-learn-more-modal.html
  src/app/pages/examiner-records/components/examiner-records-learn-more-modal/examiner-records-learn-more-modal.module.ts
  src/app/pages/examiner-records/components/examiner-records-learn-more-modal/examiner-records-learn-more-modal.scss
  src/app/pages/examiner-records/components/examiner-records-learn-more-modal/examiner-records-learn-more-modal.ts
  src/app/pages/examiner-records/examiner-records.actions.ts
  src/app/pages/examiner-records/examiner-records.analytics.effects.ts
  src/app/pages/examiner-records/examiner-records.effects.ts
  src/app/pages/examiner-records/examiner-records.module.ts
  src/app/pages/examiner-records/examiner-records.page.html
  src/app/pages/examiner-records/examiner-records.page.scss
  src/app/pages/examiner-records/examiner-records.page.ts
  src/app/pages/examiner-records/examiner-records.selector.ts
  src/app/providers/analytics/analytics.model.ts
  src/app/providers/examiner-records/__tests__/examiner-records.spec.ts
  src/app/providers/examiner-records/examiner-records.ts
  src/global.scss
  src/theme/sass-partials/_buttons.scss
Labels: dependencies, tests, typescript, analytics

#1896 mes-release-configBump
  config.xml
  ios/App/App/Info.plist
  package-lock.json
  package.json
  src/app/pages/examiner-records/examiner-records.page.ts
Labels: dependencies, typescript, version

#1895 mes-removeLogs
  package-lock.json
  package.json
  src/app/pages/examiner-records/examiner-records.page.ts
Labels: dependencies, typescript
