Repository dvsa/des-mobile-app, pull requests merged in 2025-01, with the labels that each got.

#1846 feat: angular 18 upgrade and re-add lint staged
  .husky/pre-commit
  .snyk
  mock/angular-mocks/application-ref.mock.ts
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/pages/communication/components/new-email/__tests__/new-email.spec.ts
  src/app/pages/communication/components/provided-email/__tests__/provided-email.spec.ts
  src/app/pages/debrief/components/safety-and-balance-card/__tests__/safety-and-balance-card.cat-a-mod2.spec.ts
  src/app/pages/debrief/components/safety-questions-card/__tests__/safety-questions-card.spec.ts
  src/app/pages/debrief/components/vehicle-checks-card-cat-b/__tests__/vehicle-checks-card.cat-b.spec.ts
  src/app/pages/debrief/components/vehicle-checks-card/__tests__/vehicle-checks-card.spec.ts
  src/app/pages/delegated-rekey-search/__tests__/delegated-rekey-search.effects.spec.ts
  src/app/pages/fake-journal/__tests__/fake-journal.page.spec.ts
  src/app/pages/journal/__tests__/journal.page.spec.ts
  src/app/pages/office/cat-a-mod2/components/safety-and-balance/__tests__/safety-and-balance.cat-a-mod2.spec.ts
  src/app/pages/rekey-search/__tests__/rekey-search.spec.ts
  src/app/providers/app-config/__tests__/app-config.spec.ts
  src/app/providers/authentication/__tests__/interceptor.spec.ts
  src/app/providers/candidate-licence/__tests__/candidate-licence.spec.ts
  src/app/providers/find-user/__tests__/find-user.spec.ts
  src/app/providers/journal/__tests__/journal.spec.ts
  src/app/providers/logs/__tests__/logs.spec.ts
  src/app/providers/mot-history-api/__tests__/mot-history-api.service.spec.ts
  src/app/providers/orientation-monitor/__mocks/orientation-monitor.provider.mock.ts
  src/app/providers/orientation-monitor/__tests__/orientation-monitor.provider.spec.ts
  src/app/providers/reference-data/__tests__/reference-data.spec.ts
  src/app/providers/rekey-search/__tests__/rekey-search.spec.ts
  src/app/providers/search/__tests__/search.spec.ts
  src/app/providers/test-centre-journal/__tests__/test-centre-journal.spec.ts
  src/app/providers/test-submission/__tests__/test-submission.spec.ts
  src/store/journal/journal.effects.ts
Labels: dependencies, tests, typescript

#1860 CP - MES-10214: fastlane release build fix
  fastlane/Fastfile
Labels: fastlane

#1861 MES-10160: fastlane GITHUB_ENV
  fastlane/Fastfile
Labels: fastlane

#1862 MES-9929 | Biome No Implicit Any
  biome.json
  src/app/pages/test-report/components/reverse-left/__tests__/reverse-left.spec.ts
  src/app/providers/completed-test-persistence/__tests__/completed-test-persistence.spec.ts
  src/app/providers/slot/__tests__/slot.spec.ts
  src/app/providers/url/__tests__/url.spec.ts
  src/store/tests/__tests__/tests.effects.spec.ts
  src/store/tests/vehicle-details/cat-b/__tests__/vehicle-details.reducer.spec.ts
Labels: tests, typescript
