Repository dvsa/des-mobile-app, pull requests merged in 2025-08, with the labels that each got.

#2035 Mes-10587: additional citroen models
  .snyk
  config.xml
  ios/App/App/Info.plist
  src/app/pages/journal/components/learn-more-modal/learn-more-modal.html
Labels: version

#2044 Mes-9550 | Delegated rekey future date alert analytics
  src/app/pages/journal/components/journal-future-test-modal/__tests__/journal-future-test-modal.analytics.effects.spec.ts
  src/app/pages/journal/components/journal-future-test-modal/__tests__/journal-future-test-modal.spec.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.actions.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.analytics.effects.ts
  src/app/pages/journal/components/journal-future-test-modal/journal-future-test-modal.ts
  src/app/providers/analytics/analytics.model.ts
Labels: tests, typescript, analytics

#2034 mes-10579: added check for previously started test for changes
  src/app/providers/analytics/analytics.model.ts
  src/components/test-slot/test-outcome/__tests__/test-outcome.spec.ts
  src/components/test-slot/test-outcome/test-outcome.ts
  src/store/tests/__tests__/tests.analytics.effects.spec.ts
  src/store/tests/tests.actions.ts
  src/store/tests/tests.analytics.effects.ts
  src/store/tests/tests.reducer.ts
  src/store/tests/tests.selector.ts
Labels: tests, typescript, analytics

#2050 version bump 4.22.0.0
  config.xml
  ios/App/App/Info.plist
Labels: version

#2052 chore: debug build release 4.21
  config.xml
  ios/App/App/Info.plist
  src/app/providers/app-config/app-config.ts
  src/app/providers/authentication/authentication.ts
  src/app/providers/authentication/interceptor.ts
Labels: typescript, version
